


<div class="hero-wrapper-login">
  <div class="hero-container-login">
    <div class="form-block-login">
        <div class="hero-heading-wrapper-login">
          <h1 class="section-heading-sm no-cap">Thank you! Please check your email for further instructions.</h1>
        </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Register Success Page"
}
{% endschema %}

<style>
  #fixed-nav {
    background-color: #0b022b !important;
    box-shadow: 1px 1px 6px 0 #000 !important;
  }
</style>

