

<div class="bottom-section-contact">
  <div class="bottom-container-contact">
    <div class="bottom-heading-section-contact">
      <div class="bottom-heading-wrapper-contact">
        <h2 class="section-heading-alt contact" data-ix="fadeinup">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="tab-inner-faq">
      <div class="tab-content-holder-faq">
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">What is the difference between HHC and THC?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>HHC is a naturally occurring cannabinoid in the cannabis sativa plant, albeit only in trace amounts. That’s why HHC is often synthesized from other, more abundant cannabinoids like THC and CBD. <br></br>HHC is molecularly similar to THC, the difference being that HHC has additional hydrogen atoms. Like THC, HHC is psychoactive, meaning it acts upon endocannabinoid receptors in the brain to produce feelings of being high.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Does Delta 8 make you fail a drug test?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>If you’re subject to drug testing, we recommend you avoid consuming any THC products. Since Delta 8 is a type of THC, it is possible that it will show up on a drug test. Most drug tests look for THC in various forms, so even though tests may not be specifically designed as Delta 8 drug tests, they may still detect Delta 8 as a form of THC, causing you to fail.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Will HHC make you fail a drug test?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Because HHC is molecularly very similar to THC, it can show up on drug tests. This is why it’s best to abstain from consuming any HHC products if you know you will be subjected to tests. Also keep in mind that HHC metabolites can remain in your system for up to 30 days and even beyond, depending on your metabolism and other factors.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Are Summit Delta 8 Gummies superior to those offered by other companies?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Summit Delta 8 Gummies are an excellent choice for a few reasons. Our Gummies are infused, not sprayed, with high-quality Delta 8 distillate, making them more heat-resistant, consistently potent, and delicious-tasting.  Like all of our products, Summit’s Delta 8 Gummies are backed by third-party lab tests to ensure they’re safe, pure, and that the stated potency is accurate. You won’t find many of our competitors testing for potency, contaminants, heavy metals, pesticides, microbes, and more–or publishing the results for everyone to see. We value transparency and are confident in our products for good reason!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Does Delta 8 make you high?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Delta 8 THC in various products, including Delta 8 wax, Delta 8 tincture, and Delta 8 vape juice can all produce highs, including feelings such as euphoria and relaxation.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Where does the Delta 9 in your Gummies come from?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Summit Delta 9 Gummies are infused with Delta 9 THC extracted from organically-grown hemp from Colorado. Our Gummies are infused with Delta 9 extract, which makes for a more consistent, reliable experience than a Delta 9 gummy that is sprayed with Delta 9 THC.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Can you fly with THC Gummies?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>We do not advise bringing any of our products–our Delta 8, Delta 9, or HHC Gummies–onto a plane. Despite the fact that the THC content in all of our products falls below the legal limit of 0.3% as established in the 2018 Farm Bill, flying with cannabis products can still be a bit risky and could bring you unwanted attention from TSA agents. Just to be on the safest side, we recommend leaving your Summit Gummies at home.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">How do you compare the experience of Delta 8 vs Delta 9 vs HHC?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>There are some key differences between these three cannabinoids. Our Summit Delta 8 Gummies are thought to produce a heavier, relaxed feeling than our Summit Delta 9 Gummies, which are known to create a more uplifting, energizing experience. Between them is HHC, which provides a blended experience that is both uplifting, euphoric, and relaxing. <br></br>Check out our <a href="/pages/product-guide">product guide</a> to find out which product is perfect for you.</p>
                              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Can I buy Delta 9 edibles from Summit?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Yes, we ship our Gummies to all 50 states! Our Delta 9 edibles are the perfect way to help you experience the effects of Delta 9 THC, including euphoria, creativity, and good vibes all around. And if you’re wondering about our Delta 8 and HHC Gummies, <a href="/pages/where-we-ship">check out where we ship</a>.</p>
                                    </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Are Delta 9 Gummies legal in all 50 states?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>Currently, we’re able to sell our Summit Delta 9 Gummies in all 50 states. Our products fall under the regulations within the 2018 Farm Bill, which allows us to include hemp-derived Delta 9 THC in our products. Our Delta 9 Gummies might not be around forever, so take advantage of this opportunity while these regulations are in your favor!</p>        
</div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq purple" data-ix="faq-expand">
            <h4 class="heading-faq">Where do you ship your Gummies?</h4><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-Summit-plus.png?v=1677024668" loading="lazy" alt="Plus" class="heading-img-faq">
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>We ship our Delta 9 and HHC Gummies to all 50 states in the US! Our Delta 8 Gummies ship to select states only. <a href="/pages/where-we-ship">Check our map to see where we ship all of our products</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "FAQs"
}
{% endschema %}


