

<div class="mid-wrapper-faq">

  <div class="hero-content-inner-faq">
    <h1 class="hero-top-heading faq-content" data-ix="fadeindown">Pick your product.</h1>
   
  </div>


  <div class="mid-container-faq">
    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs-faq w-tabs" data-ix="fadeinright">
      <div class="tabs-menu-faq w-tab-menu">
        <div class="tab-background"></div>
        <a data-w-tab="Tab 2" class="tab-menu-link-faq-page orange w-inline-block w-tab-link w--current">
          <div class="tab-menu-text-faq">Delta-9</div>
          <div class="tab-menu-img-wrapper-faq">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-D9-down.svg?v=1676409972" alt="Arrow Img" class="tab-menu-img-faq">
          </div>
        </a>
        <a data-w-tab="Tab 3" class="tab-menu-link-faq-page yellow w-inline-block w-tab-link">
          <div class="tab-menu-text-faq ">HHC</div>
          <div class="tab-menu-img-wrapper-faq">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-HHC-down_31bee640-d385-4c27-9f36-3948b7d79618.svg?v=1676409983" alt="Arrow Img" class="tab-menu-img-faq">
          </div>
        </a>
        <a data-w-tab="Tab 1" class="tab-menu-link-faq-page blue w-inline-block w-tab-link ">
          <div class="tab-menu-text-faq">Delta-8</div>
          <div class="tab-menu-img-wrapper-faq"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-D8-down_e8bd7b15-7b8e-4ee8-b0b4-5fd87b7e712c.svg?v=1676409983" alt="Arrow Img" class="tab-menu-img-faq"></div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane ">
          <div class="tab-inner-faq">
            <div class="tab-content-holder-faq">
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Is Delta 8 safe?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>We can’t speak for others, but Summit Delta 8 Gummies are third party lab tested to ensure they’re pure, safe, and potent. Check out our <a href="/pages/lab-testing">Lab Testing</a> page to learn more!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Does delta 8 help you sleep?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Delta 8 is not only perfect for giving you an uber-relaxing ride–but there are a bunch of benefits you can reap to up your overall wellness. <br></br>One of the biggest benefits of Delta 8 is its ability to help you sleep. Sleeplessness is no fun–so being able to take a little something before bed to help you drift off into slumber is a big bonus for a lot of people. If you’re looking for some help in regulating your sleep cycles, we recommend taking a Delta 8 dose in the evening.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Does Delta 8 show up on a drug test?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Delta 8 THC may show on a drug test since it is THC. If you’re subject to testing, we do not recommend consuming any products made with Delta 8 distillate, like Delta 8 Gummies, Delta 8 Tincture, or Delta 8 wax.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Are Summit Gummies better than what other companies offer?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>There are many reasons why Summit Gummies are a cut above. We infuse, rather than spray our Gummies with high quality THC and HHC, making them better-tasting and consistently potent. They’re also more heat resistant and are backed by third-party lab tests to ensure our potency is accurate with every Gummy. We take extra pains to make sure they're safe and pure. You won’t find many of our competitors testing for potency, contaminants, heavy metals, pesticides, microbes, and more–and publishing the results for the world to see. Simply put: we’re the best!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Does Delta 8 make you high?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Yes. Delta 8 THC will give you a sustained experience that has been likened to indica–heavier and more relaxing than Delta 9 THC.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">What is Delta 10 vs Delta 8?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Delta 10 and Delta 8 are different types of THC. They perform a little bit differently than Delta 9 THC, and both offer different experiences.</p>
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Where to get Delta 8?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Delta 8 THC is only available in select states. As each state regulates these products differently, Delta 8 may or may not be available in your state for sale. We encourage you to check out our <a href="/pages/where-we-ship">shipping map</a> to find out if Summit’s Delta 8 is for sale in your state.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">What is Delta 8 distillate? </h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Summit THC uses Delta 8 distillate to craft our Delta 8 Gummies. We begin with pharmaceutical-grade CBD isolate which is converted to Delta 8 and distilled, resulting in a high quality input that ensures potency, effectiveness, and excellent taste.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Can you fly with Delta 8?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>We always advise our customers to check their local laws and regulations before flying with any THC product. You may or may not be able to fly with Delta 8 in your bag.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">How long does a Summit Delta 8 experience last?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>After consuming a Summit Delta 8 Gummy, you can expect your experience to last 4-6 hours. At 25mg each, our Gummies provide a long ride. Cut one in half if you are looking for a shorter duration experience.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">Is Delta 8 synthetic?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>Delta 8 is a naturally occurring cannabinoid found in cannabis plants, but it exists in relatively small amounts compared with other more prominent cannabinoids such as THC and CBD. That’s why Delta 8 is typically created from other cannabinoids to craft potent products such as gummies or tinctures. Summit THC begins with high-quality, pharmaceutical-grade CBD isolate that is distilled and processed so that the CBD cannabinoids convert into Delta 8 THC. This distillate is what we use to infuse our Delta 8 Gummies. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq blue" data-ix="faq-expand">
                  <h4 class="heading-faq">What’s the difference between R&R CBD and Summit THC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus_50f6bd45-a0eb-4437-bffd-798e9b7d48d6.svg?v=1676409984" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq blue w-richtext">
                      <p>R&R CBD and Summit THC are sister brands, with both brands owned and operated by R&R CBD. Known for making organic, high-performance CBD products, R&R CBD brings the same emphasis on quality and performance to Summit THC, which focuses on euphoric hemp products perfect for relief and recreation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
          <div class="tab-inner-faq">
            <div class="tab-content-holder-faq">
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">What is Delta 9 THC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Delta 9 THC is a psychoactive compound found in cannabis that produces the feeling of being “high.” While there are many psychoactive cannabinoids found in cannabis, Delta 9 is known for its uplifting, euphoric effects.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Does Delta 9 help with pain?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Delta 9 THC is thought to alleviate pain in part by reducing anxiety and stress which can increase the perception of pain. While it may not work for everyone, since each individual experience with cannabinoids can vary, many people have turned to Delta 9 THC to mitigate pain and report its effectiveness with certain painful conditions.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Can Delta 9 help with stress?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Delta 9 is thought to be able to help reduce stress and anxiety for some people. Thanks to the way the cannabinoid can interact with endocannabinoid receptors in the brain and body, Delta 9 is thought to help regulate various psychological processes, including mood. Some people report soothing, relaxed, and calm feelings after consuming Delta 9. <br></br>Everyone is different, however. Some people might get a little more anxious on Delta 9, especially when too large of a dose is consumed. That’s why it’s important to begin with a low dose when you’re just starting your exploration of Delta 9, and only increase your dose after you understand your experience with it.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">What are the other Delta 9 benefits?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Across the board, more research is needed to determine exactly what the benefits of this cannabinoid are, since much of the evidence is anecdotal. Delta 9 is thought to bring a number of other potential benefits. It can act as an appetite stimulant and a nausea suppressant, which is useful for folks struggling with eating because of emotional stress and other reasons. Using Delta 9 for pain management can be effective for some people, too: it is also thought to reduce the pain from headaches and possibly even nerve pain.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">What is the difference between Delta 8 and Delta 9?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Comparing Delta 8 vs Delta 9 is difficult, as both are THC compounds. The difference is in the experience of taking either Summit Delta 8 Gummies or Summit Delta 9 Gummies. The Delta 8 Gummies are thought to produce a greater body effect, with more of a heavy feeling. Our Delta 9 Gummies produce more of an active effect and are thought to be more uplifting.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Do Summit Delta 9 Gummies use Delta 9 distillate?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Our Summit Delta 9 Gummies use Delta 9 THC derived from our hemp strains. We produce a Delta 9 distillate by extracting our hemp and concentrating that Delta 9 distillate into our gummies.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Do Summit Delta 9 edibles work?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Our Summit Delta 9 Gummies are loaded with 15mg of hemp-derived THC, which is more than enough for you to experience the desired effects. We recommend starting with half of a gummy if you’re new to Delta 9 THC effects.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Do Summit Delta 9 Gummies use hemp-derived Delta 9?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Yes, we comply with all federal and state regulations in that our Delta 9 THC uses hemp-derived THC. Our Summit Delta 9 Gummies are packed with 15mg of Delta 9 THC, so you can be sure that you will reach your peak!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">What Delta 9 strain does Summit use?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Summit Delta 9 Gummies are made with a Delta 9 distillate that comes from our Cherry strain of hemp. Our hemp is sourced from farms that practice organic farming, and we <a href="/pages/lab-testing">third-party test</a> all of our products for potency and safety.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">Do Summit Delta 9 Gummies taste good?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>Our Delta 9 Gummies are paired with organic ingredients to yield a high quality experience with exceptional flavor. You won’t taste anything bitter in our Gummies thanks to the potent and pure Delta 9 distillate that we use.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq orange" data-ix="faq-expand">
                  <h4 class="heading-faq">What’s the difference between R&R CBD and Summit THC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus_15b1d6a5-b4c3-4c42-b747-a057dee02bcd.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>R&R CBD and Summit THC are sister brands owned and operated by R&R CBD. Known for making organic, high-performance CBD products, R&R CBD brings the same emphasis on quality and performance to Summit THC, which focuses on hemp products perfect for relief and recreation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 3" class="w-tab-pane">
          <div class="tab-inner-faq">
            <div class="tab-content-holder-faq">
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What is HHC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>HHC is a naturally occurring cannabinoid found in cannabis plants, though only in trace amounts. HHC can be created via a process of hydrogenation, where extra hydrogen molecules are added to other more abundant cannabinoids such as THC.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What are the benefits of HHC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>HHC is relatively new to the scene, so there hasn’t been much scientific research done on the cannabinoid–but that is changing as interest grows. In the meantime, anecdotal reports from users of HHC report a number of benefits from the cannabinoid. <br></br>Thanks to its balanced nature, providing an experience that’s not too energizing and not too relaxing (it’s truly “just right”), HHC can be a great option if you’re looking for a mood and creativity boost, if you’re wanting to manage pain, and even if you want to get some shut-eye at the end of the day. <br></br>Everyone experiences cannabinoids differently thanks to our individual biochemical makeups, so it’s impossible to say exactly how you’ll feel, or what kinds of benefits you’ll reap from HHC. That’s why it’s a good idea to start with a low dose and assess how you feel. Pay attention to any effects you notice, and be sure to enjoy the ride, too!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">How does Summit THC make HHC?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>We start with hemp-derived Delta 9 THC and use a proprietary hydrogenation process to create HHC. Our HHC is tested according to the same rigorous standards as all of our other hemp products as is required by the Colorado Department of Public Health and Environment. This testing, done on the original Delta 9 THC and on the resulting HHC, ensures that our products are pure and high quality.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What’s the difference in experience between HHC vs Delta 8?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>The HHC experience has been likened to a Delta 8 because of the sedative, relaxing effect both cannabinoids can evoke, although HHC tends to be slightly more energetic than Delta 8.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What about HHC vs Delta 9 experiences?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>A Delta 9 THC experience is renowned for being energizing, uplifting, and cerebral. HHC can give you a similar sort of experience, although it’s more on the mellow, calmer side of things.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">How long does an HHC experience last?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>Typically the experience from our HHC Gummies lasts between four to six hours, depending on the size of your dose, how fast your metabolism is, when you’ve last eaten, and other factors. Note that we recommend taking HHC Gummies on an empty stomach for maximum effects.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">Is HHC legal?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>HHC is legal as long as it’s derived from hemp plants, which were legalized at the federal level thanks to the 2018 Farm Bill. Summit’s HHC Gummies are 100% hemp-derived. <br></br>However, it’s important to check your local state laws since some states have implemented regulations that may apply to HHC. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">Does HHC show up on a drug test?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>Yes, it is likely that HHC will be detected on a drug test. There are a number of different types of drug tests that look for specific compounds, including cannabinoids and their metabolites. In its metabolized form, HHC is very similar to THC and therefore will be detected in tests designed for THC. So it’s best to play it safe and not consume HHC if you will be subject to drug testing in the future.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">Is HHC Safe?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>HHC is generally considered safe to use. Remember to start with a low dose when you’re just starting out–between a quarter to half of a Gummy is a good beginning point to determine how your body reacts.<br></br>Edibles can take a while to kick in, so even if you don’t feel anything for a little while, it’s best to wait at least an hour after your first dose before taking more just to make sure you don’t overdo it.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What if I don’t like my HHC Gummies?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>No problem! We understand that everyone experiences cannabis differently, and sometimes things just don’t work out. That’s why we offer a money-back guarantee so you can shop without stress!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">Where can HHC Gummies be shipped?</h4><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" alt="Plus" class="heading-img-faq">
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq yellow w-richtext">
                      <p>Good news! Summit’s HHC Gummies can be shipped to all 50 states. So get going on filling your cart!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "FAQs"
}
{% endschema %}


