

<div class="footer-wrapper">
  <div id="sk-footer-link"></div>
<div id="sk-footer-link-20off"></div>
  {% unless template == 'page.sms-welcome' or template == 'page.sms-exclusive' or template == 'page.sms-sign-up'%}
    
  <div class="footer-top-wrapper">
    <div class="om-embedded-campaign" data-campaign-id="24"></div>
    {% comment %}
      <div class="klaviyo-form-X8tbuk"></div>



      <form id="email-form" name="email-form" data-name="Email Form" method="get" action="#">
        <div class="footer-form-flex-row"><input type="email" class="footer-form-input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required=""><input type="submit" value="Sign Up" data-wait="Please wait..." class="footer-form-btn w-button"></div>
      </form>
      {% endcomment %}

    </div>
  </div>
  {%endunless%}

  <div class="footer-content-wrapper">
    <div class="footer-container">
      <div class="footer-bottom-wrapper">
        <div class="footer-flex-row">
          <div class="footer-flex-col-1">
            <div class="footer-logo-link-wrapper">
              <a href="/" class="footer-logo-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/summit-mark-min.png" loading="lazy" alt="Summit" class="footer-logo-img"></a>
            </div>
          </div>
          <div class="footer-flex-col">
            <div class="footer-flex-col-inner">
              <div class="footer-heading-wrapper" data-ix="footer-menu-expand">
                <h5 class="footer-flex-col-heading">SHOP</h5><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-down_1arrow-down.png" loading="lazy" alt="Arrow Down" class="footer-menu-heading-img">
              </div>
              <div class="footer-menu-expand-wrapper">
                <div class="footer-menu-link-wrapper">
                  <a href="/products/25mg-30ct-delta-8-vegan-infused-gummies" class="footer-menu-link w-inline-block">
                    <div>Delta-8 Gummies</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/products/15mg-20ct-delta-9-vegan-infused-gummies" class="footer-menu-link w-inline-block">
                    <div>Delta-9 Gummies</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="https://summitthc.com/products/25mg-20ct-hhc-vegan-infused-gummies" class="footer-menu-link w-inline-block">
                    <div>HHC Gummies</div>
                  </a>
                </div>
                                <div class="footer-menu-link-wrapper">
                  <a href="/pages/product-guide" class="footer-menu-link w-inline-block">
                    <div>Product Guide</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="#" target="_blank" class="footer-menu-link w-inline-block rr-btn">
                    <div>USDA Organic CBD</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-flex-col">
            <div class="footer-flex-col-inner">
              <div class="footer-heading-wrapper" data-ix="footer-menu-expand">
                <h5 class="footer-flex-col-heading">RESOURCES</h5><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-down_1arrow-down.png" loading="lazy" alt="Arrow Down" class="footer-menu-heading-img">
              </div>
              <div class="footer-menu-expand-wrapper">
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/where-we-ship" class="footer-menu-link w-inline-block">
                    <div>Where We Ship</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/faqs" class="footer-menu-link w-inline-block">
                    <div>FAQ</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/blogs/news" class="footer-menu-link w-inline-block">
                    <div>Blog</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/lab-testing" class="footer-menu-link w-inline-block">
                    <div>Lab Testing</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-flex-col">
            <div class="footer-flex-col-inner">
              <div class="footer-heading-wrapper" data-ix="footer-menu-expand">
                <h5 class="footer-flex-col-heading">ACCOUNT / CONTACT</h5><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-down_1arrow-down.png" loading="lazy" alt="Arrow Down" class="footer-menu-heading-img">
              </div>
              <div class="footer-menu-expand-wrapper">
                <div class="footer-menu-link-wrapper">
                  <a href="/account/login" class="footer-menu-link w-inline-block">
                    <div>Login</div>
                  </a>
                </div>
                {% comment %}
                <div class="footer-menu-link-wrapper">
                  <a href="/account/login" class="footer-menu-link w-inline-block">
                    <div>Manage Subscriptions</div>
                  </a>
                </div>
                {% endcomment %}
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/contact" class="footer-menu-link w-inline-block">
                    <div>Contact</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/wholesale" class="footer-menu-link w-inline-block">
                    <div>Wholesale</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-flex-col">
            <div class="footer-flex-col-inner">
              <div class="footer-heading-wrapper" data-ix="footer-menu-expand">
                <h5 class="footer-flex-col-heading">POLICIES</h5><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-down_1arrow-down.png" loading="lazy" alt="Arrow Down" class="footer-menu-heading-img">
              </div>
              <div class="footer-menu-expand-wrapper">
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/terms-conditions" class="footer-menu-link w-inline-block">
                    <div>**Terms of Service</div>
                  </a>
                </div>
                <div class="footer-menu-link-wrapper">
                  <a href="/pages/privacy-policy" class="footer-menu-link w-inline-block">
                    <div>Privacy Policy</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer-section">
        <p class="footer-disclaimer-text">
          The statements made regarding these products have not been evaluated by the Food and Drug Administration. The efficacy of these products has not been confirmed by FDA-approved research. These products are not intended to diagnose, treat, cure or prevent any disease. All information presented here is not meant as a substitute for or alternative to information from health care practitioners. Please consult your health care professional about potential interactions or other possible complications before using any product. The Federal Food, Drug, and Cosmetic Act require this notice.
        </p>
        <div class="payment-methods">
          {% comment %}
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
          {% endcomment %}
          <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/CC-Logos-New-min.png" alt="Payment Methods" class="payment-method-img">
        </div>
      </div>

      <div class="footer-copy-section">
        <div class="footer-copy-text">© Summit 2023</div>
      </div>
    </div>
  </div>
</div>





{% schema %}
{
  "name": "Footer"
}
{% endschema %}




