
<div class="banner-section-faq">
  <div class="banner-container-faq">
    <div class="banner-heading-section-faq">
      <div class="banner-sub-heading-wrapper-faq">
        <h3 class="section-heading-sm" data-ix="fadeindown">GOT QUESTIONS?</h3>
      </div>
      <div class="banner-heading-wrapper-faq">
        <h4 class="section-heading-alt faqs" data-ix="fadeinright">We&#x27;d love to hear from you.</h4>
      </div>
    </div>
    <div class="banner-text-wrapper-faq" data-ix="fadeinup">
      <div class="banner-rte-faq w-richtext">
        <p>Our in-house client service team is here to help you. Simply text, email, or message us, below!</p>
      </div>
    </div>
    <div class="banner-flex-row-faq">
      <div class="banner-flex-col-faq" data-ix="fadeinright">
        <div class="banner-flex-col-inner-faq">
          <div class="banner-flex-col-heading-wrapper-faq">
            <h5 class="section-heading-sm orange">TEXT US</h5>
          </div>
          <div class="banner-link-wrapper-faq">
            <div class="banner-link-faq banner-link-faq-disabled">(720) 593-4971</div>
          </div>
        </div>
      </div>
      <div class="banner-flex-col-faq" data-ix="fadeinleft">
        <div class="banner-flex-col-inner-faq">
          <div class="banner-flex-col-heading-wrapper-faq">
            <h5 class="section-heading-sm orange">EMAIL US</h5>
          </div>
          <div class="banner-link-wrapper-faq">
            <a href="mailto:contact@summitthc.com" class="banner-link-faq w-inline-block">
              <div>contact@summitTHC.com</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Contact Section"
}
{% endschema %}


