<div class="why-summit-section">
  <div class="cta-content-wrapper">
    <div class="cta-flex-row">
      <div id="w-node-_53035770-22ae-834c-c170-52621b6da355-db35c414" class="why-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 34vw, (max-width: 991px) 45vw, 39vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-500.png 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-800.png 800w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit.png 1141w" alt="Picture of a person with sunglasses on, they are smiling and lit by blue light"></div>
      <div class="cta-flex-col">
        <div id="w-node-_53035770-22ae-834c-c170-52621b6da358-db35c414" class="title-wrapper-why">
          <div class="experience-subheader-wrapper">
            <p class="subheader">SO MUCH GOODNESS.</p>
          </div>
          <h1>Why Choose Summit?</h1>
        </div>
        <div class="why-img-wrapper mobile"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit.png" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-500.png 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-800.png 800w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit.png 1141w" alt="Picture of a person with sunglasses on, they are smiling and lit by blue light"></div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-premium-quality.svg" loading="lazy" alt="Plant icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Premium Quality</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-vegan-_-infused.svg" loading="lazy" alt="Apple with a heart shape icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Vegan &amp; Infused</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-delicious.svg" loading="lazy" alt="Watermelon icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Delicious, All-Natural Ingredients</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-support.svg" loading="lazy" alt="Speech bubble icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Personalized Support</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob bottom">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-lab-testing.svg" loading="lazy" alt="Test tube with a check mark next to the test tube icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">3rd-Party Lab Testing</p>
            </div>
          </div>
        </div>
        <div data-delay="4000" data-animation="slide" class="why-summit-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-_4bef8bad-e019-81bf-aef7-07213100fda4-db35c414">
          <div class="mask w-slider-mask">
            <div class="why-slide w-slide">
              <div class="banner-content-block">
                <div class="banner-content-flex-row"><img loading="eager" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-premium-quality.svg" alt="Plant icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p class="why-paragraph">Premium Quality</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block">
                <div class="banner-content-flex-row"><img loading="eager" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-vegan-_-infused.svg" alt="Apple with a heart shape icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p class="why-paragraph">Vegan &amp; Infused</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block">
                <div class="banner-content-flex-row"><img loading="eager" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-delicious.svg" alt="Watermelon icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p class="why-paragraph">Delicious, All-Natural Ingredients</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block">
                <div class="banner-content-flex-row"><img loading="eager" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-support.svg" alt="Speech bubble icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p class="why-paragraph">Personalized Support</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block">
                <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ws-lab-testing.svg" loading="eager" alt="Test tube with a check mark next to the test tube icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p class="why-paragraph">3rd-Party Lab Testing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hide-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="hide-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="why-slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- comment -%}
  <div class="banner-section-home">
    <div class="banner-content-wrapper">
      <div class="banner-flex-row-outer">
        <div class="banner-flex-col-outer-2" data-ix="fadeinleft">
          <div class="banner-heading-wrapper">
            <h3 class="section-heading">Why Choose Summit?</h3>
          </div>
          <div class="banner-content-block">
            <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/quality-min.png" loading="lazy" alt="Leaf" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">Premium Quality</h5>
            </div>
          </div>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/free-shipping-min.png" loading="lazy" alt="Shipping Box" class="banner-flex-img">
          <div class="banner-content-info-wrapper">
            <h5 class="banner-content-flex-heading">Free Shipping</h5>
          </div>
        </div>
      </div>
      <div class="banner-content-block">
        <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-money-min.png" loading="lazy" alt="Money" class="banner-flex-img">
        <div class="banner-content-info-wrapper">
          <h5 class="banner-content-flex-heading">Money Back Guarantee**</h5>
        </div>
      </div>
    </div>
    <div class="banner-content-block">
      <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/support-min.png" loading="lazy" alt="Speech Bubble" class="banner-flex-img">
      <div class="banner-content-info-wrapper">
        <h5 class="banner-content-flex-heading">Personalized Support</h5>
      </div>
    </div>
  </div>
  <div class="banner-content-block">
    <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/lab-testing-min.png" loading="lazy" alt="Microscope" class="banner-flex-img">
    <div class="banner-content-info-wrapper">
      <h5 class="banner-content-flex-heading">3rd-Party Lab Testing</h5>
    </div>
  </div>
</div>
</div>
</div>
</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD.png" loading="eager" sizes="(max-width: 479px) 100vw, (max-width: 991px) 75vw, 933.328125px" srcset="//cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-500.png 500w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-800.png 800w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-1080.png 1080w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD.png 1200w" alt="" class="banner-design-img">
</div>
{%- endcomment -%}


{% schema %}
{
  "name": "Image Banner 1"
}
{% endschema %}

