<div class="hero-scroll-bar">
  <div class="scroll-bar-animation-wrapper">
    <div class="lottie-animation" data-w-id="b6b423f8-2eda-ef68-146f-a048d0d8754f" data-animation-type="lottie" data-src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/bar-slower0512.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="20.02001920458794" data-duration="0"></div>
  </div>
</div>



{% schema %}
{
  "name": "Scroll Bar"
}
{% endschema %}