<div class="cta-section new">
  <div class="cta-content-wrapper">
    <div class="cta-flex-row">
      <div id="w-node-c6efb935-f209-1212-744a-d2ffbb8d32e4-db35c414" class="why-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save.png" loading="over-eager" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 44vw, 39vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-500.png 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-800.png 800w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save.png 1141w" alt="Person laying down with their eyes closed and hands behind their head. They look relaxed and they are in a dark environment but lit by purple and blue light"></div>
      <div class="cta-flex-col">
        <div class="title-wrapper-why">
          <div class="experience-subheader-wrapper">
            <p class="subheader">KICK BACK, RELAX, AND</p>
          </div>
          <h1>Subscribe &amp; Save 15%</h1>
        </div>
        <div class="why-img-wrapper mobile"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save.png" loading="over-eager" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-500.png 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-800.png 800w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/subscribe-_-save.png 1141w" alt="Person laying down with their eyes closed and hands behind their head. They look relaxed and they are in a dark environment but lit by purple and blue light"></div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-15_a4bd3a0f-1775-412e-9f14-6731cccda5a5.svg?v=1676584625" loading="over-eager" alt="Tag with 15% on the tag icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Save 15% on every order.</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-delivered.svg" loading="over-eager" alt="Box icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Delivered on your schedule.</p>
            </div>
          </div>
        </div>
        <div class="banner-content-block hide-mob bottom">
          <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-skippause.svg" loading="over-eager" alt="Hand with fingers together and extended to be flat icon" class="why-flex-img">
            <div class="why-info-wrapper">
              <p class="why-paragraph">Skip or Cancel at any time.</p>
            </div>
          </div>
        </div>
        <div data-delay="4000" data-animation="slide" class="why-summit-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-_939af1bd-7d9e-dd89-a34a-40155aaada7f-db35c414">
          <div class="mask w-slider-mask">
            <div class="why-slide w-slide">
              <div class="banner-content-block wider">
                <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-15_a4bd3a0f-1775-412e-9f14-6731cccda5a5.svg?v=1676584625" loading="over-eager" alt="Tag with 15% on the tag icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p>Save 15% on every order.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block wider">
                <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-delivered.svg" loading="over-eager" alt="Box icon" class="why-flex-img">
                  <div class="why-info-wrapper">
                    <p>Delivered on your schedule.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="banner-content-block wider">
                <div class="banner-content-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-ss-skippause.svg" loading="over-eager" alt="Hand with fingers together and extended to be flat icon" class="why-flex-img">
                  <div class="why-info-wrapper smaller">
                    <p>Skip or Cancel at any time.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hide-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="hide-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="why-slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{%- comment -%}
  <div class="cta-section">
    <div class="cta-section-content-wrapper">
      <div class="cta-content-inner-home" data-ix="fadeinright">
        <div class="cta-heading-wrapper-home">
          <h3 class="section-heading">Subscribe &amp; Save 15%</h3>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/save-15-percent-min.png" loading="over-eager" alt="15%" class="banner-flex-img">
          <div class="banner-content-info-wrapper">
            <h5 class="banner-content-flex-heading">Save 15% on every order.</h5>
          </div>
        </div>
      </div>
      <div class="banner-content-block">
        <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/delivered-min.png" loading="over-eager" alt="Shipping Box" class="banner-flex-img">
        <div class="banner-content-info-wrapper">
          <h5 class="banner-content-flex-heading">Delivered on your schedule.</h5>
        </div>
      </div>
    </div>
    <div class="banner-content-block">
      <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/pause-min.png" loading="over-eager" alt="Stop" class="banner-flex-img">
      <div class="banner-content-info-wrapper">
        <h5 class="banner-content-flex-heading">Skip, Pause, or Cancel at anytime.</h5>
      </div>
    </div>
  </div>
</div>
</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save.png" loading="over-eager" sizes="(max-width: 767px) 100vw, (max-width: 991px) 668.359375px, 904.84375px" srcset="//cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save-p-500.png 500w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save-p-800.png 800w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save.png 1027w" alt="" class="cta-design-img">
</div>
{%- endcomment -%}


{% schema %}
{
  "name": "Image Banner 3"
}
{% endschema %}

