

<div class="cta-section">
  <div class="cta-section-content-wrapper">
    <div class="cta-content-inner-home" data-ix="fadeinright">
      <div class="cta-heading-wrapper-home">
        <h3 class="section-heading">Subscribe &amp; Save 15%</h3>
      </div>
      <div class="banner-content-block">
        <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/save-15-percent-min.png" loading="lazy" alt="15%" class="banner-flex-img">
          <div class="banner-content-info-wrapper">
            <h5 class="banner-content-flex-heading">Save 15% on every order.</h5>
          </div>
        </div>
      </div>
      <div class="banner-content-block">
        <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/delivered-min.png" loading="lazy" alt="Shipping Box" class="banner-flex-img">
          <div class="banner-content-info-wrapper">
            <h5 class="banner-content-flex-heading">Delivered on your schedule.</h5>
          </div>
        </div>
      </div>
      <div class="banner-content-block">
        <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/pause-min.png" loading="lazy" alt="Stop" class="banner-flex-img">
          <div class="banner-content-info-wrapper">
            <h5 class="banner-content-flex-heading">Skip, Pause, or Cancel at anytime.</h5>
          </div>
        </div>
      </div>
    </div>
  </div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save.png" loading="eager" sizes="(max-width: 767px) 100vw, (max-width: 991px) 668.359375px, 904.84375px" srcset="//cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save-p-500.png 500w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save-p-800.png 800w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/site-banners-MOD_home-subscribe-save.png 1027w" alt="" class="cta-design-img">
</div>


{% schema %}
{
  "name": "Image Banner 3"
}
{% endschema %}

