

<div class="guarantee-section">
  <div class="guarantee-content-wrapper">
    <div class="guarantee-img-wrapper" data-ix="fadeindown">
      <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/check-mark-pink.png" loading="lazy" alt="Checkmark" class="guarantee-img">
    </div>
    <h4 class="guarantee-top-heading" data-ix="fadeinup">Purchase With Confidence</h4>
    <h3 class="guarantee-main-heading" data-ix="fadeinright">Money Back Guarantee**</h3>
    <div class="guarantee-text-wrapper" data-ix="fadeinup">
      <div class="body-rte-dark w-richtext">
        <p>We’re here to take care of you every step of the way. We’re committed to the integrity of our products, so relax, and enjoy the ride.</p>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image Banner 2"
}
{% endschema %}


