{% assign sk_product = all_products[section.settings.featured_product] %}



<div class="testimonial-section-product">
  <div class="testimonial-content-home">
    



    <div class="experience-subheader-wrapper">
      <p class="subheader">REVIEWS</p>
    </div>
    <h1 class="slider-header">What People Are Saying</h1>
    <div class="reviews-flex-row-home"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-purple.svg" alt="Five Purple Stars" class="hero-reviews-img">
      <a href="#" class="featured-col-reviews-heading-link w-inline-block">
        <div>450+ Reviews</div>
      </a>
    </div>






    <div class="testimonial-slide-inner-home">
      <div class="testimonial-slide-flex-row-home">


        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d750712677-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“My husband and I love these! They taste really delicious and they're pretty powerful. I'd start with half of one.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D9.svg" alt="Five Pink Stars" class="star-review-img">
                  <p class="general-p normal-text">Selina Moreno</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D9.svg" alt="Circular Delta 9 badge with a light pink background and an eye icon in the center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d750712683-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“These hit pretty hard, and they seriously relax you. The tropical flavors are delicious.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-HHC.svg" alt="Five Yellow Stars" class="star-review-img">
                  <p class="general-p normal-text">Erik Brooks</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-HHC.svg" alt="HHC badge with a bright yellow background and balanced scales icon in the middle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d75071268f-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I really prefer these delta 8 gummies for winding down and slipping into bed. Love the effects and they taste great! Blue Raz is my fav.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D8.svg" alt="Five Teal Stars" class="star-review-img">
                  <p class="general-p normal-text">Carrie Spachman</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D8.svg" alt="Circular Delta 8 Badge with a light teal background and three stones stacked on top of each other in the center."></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d75071269d-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I found these online and figured I'd try them, since they have a guarantee. I was not disappointed, and they really work. Take them on an empty stomach for max effect.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D9.svg" alt="Five Pink Stars" class="star-review-img">
                  <p class="general-p normal-text">Francis L</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D9.svg" alt="Circular Delta 9 badge with a light pink background and an eye icon in the center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126a9-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I've added these to my nightly routine to unwind. They help me sleep so much deeper and longer.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-HHC.svg" alt="Five Yellow Stars" class="star-review-img">
                  <p class="general-p normal-text">Pria Savaparthary</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-HHC.svg" alt="HHC badge with a bright yellow background and balanced scales icon in the middle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126b5-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“Summit pineapple flavor is so good. These gummies are amazing and I love to share them with my friends. Everyone loves them!”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D8.svg" alt="Five Teal Stars" class="star-review-img">
                  <p class="general-p normal-text">Michael Andrews</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D8.svg" alt="Circular Delta 8 Badge with a light teal background and three stones stacked on top of each other in the center."></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d75071269d-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“They're sweet and powerful. I take mine about an hour before dinner and my whole evening is so much more enjoyable.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D9.svg" alt="Five Pink Stars" class="star-review-img">
                  <p class="general-p normal-text">Dalia Frazier</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D9.svg" alt="Circular Delta 9 badge with a light pink background and an eye icon in the center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126a9-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I can't get Delta 8 where I live, but these are just as good.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-HHC.svg" alt="Five Yellow Stars" class="star-review-img">
                  <p class="general-p normal-text">Bryan Ordonez</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-HHC.svg" alt="HHC badge with a bright yellow background and balanced scales icon in the middle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126b5-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I've been looking for a lab verified gummy and Summit delta 8 gummies hit the mark. Priced well for such a premium, great tasting, potent gummy.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D8.svg" alt="Five Teal Stars" class="star-review-img">
                  <p class="general-p normal-text">Jo Mooney</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D8.svg" alt="Circular Delta 8 Badge with a light teal background and three stones stacked on top of each other in the center."></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d75071269d-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“Finally!! A pure, clean, lab tested, delicious, and high performance delta 9 THC gummy. These are the best I've found, and I love the free shipping and bulk discounts!!!”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D9.svg" alt="Five Pink Stars" class="star-review-img">
                  <p class="general-p normal-text">Marquise Webster</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D9.svg" alt="Circular Delta 9 badge with a light pink background and an eye icon in the center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126a9-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“I love the way the HHC gummies make me feel relaxed and without stress.”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-HHC.svg" alt="Five Yellow Stars" class="star-review-img">
                  <p class="general-p normal-text">Brenda Haws</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-HHC.svg" alt="HHC badge with a bright yellow background and balanced scales icon in the middle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div id="w-node-dc625deb-4cc7-d4e6-532c-f7d7507126b5-db35c414" class="review-grid-inner">
            <div class="review-grid-content-wrapper">
              <div class="review-grid-text">
                <p class="review-p">“The summit gummies are both tasty and effective. I take one before dinner on an empty stomach, as instructed. They work!!”</p>
              </div>
              <div class="review-flex-row">
                <div class="review-content-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/stars-D8.svg" alt="Five Teal Stars" class="star-review-img">
                  <p class="general-p normal-text">Seth Odom</p>
                </div>
                <div class="img-wrapper"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D8.svg" alt="Circular Delta 8 Badge with a light teal background and three stones stacked on top of each other in the center."></div>
              </div>
            </div>
          </div>
        </div>
        

      </div>


    </div>
    <div class="testimonial-disclaimer-text">These testimonials are for informational purposes only. The information is not a substitute for expert medical care. Testimonials are written by actual customers and represent their own observations. These observations are not medically substantiated, guaranteed, and may not be typical for other customers.</div>
  </div>
</div>

{%- comment -%}


<div class="testimonial-section">
  <div class="testimonial-content-home">
    <div class="testimonial-heading-section-home">
      <div class="testimonial-sub-heading-wrapper">
        <h4 class="section-heading-sm" data-ix="fadeindown">FEATURED REVIEWS</h4>
      </div>
      <div class="testimonial-heading-wrapper">
        <h3 class="section-heading" data-ix="fadeinright">What People Are Saying</h3>
      </div>
      <div class="testimonial-heading-flex-row" data-ix="fadeinup">
        <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/Stars-Blue-min_fcedeb8b-5be9-4389-8da9-71e63fb3eb00.png?v=1663179588" loading="lazy" alt="5 Stars" class="featured-star-img">
        <a href="#" class="featured-col-reviews-heading-link w-inline-block">
          <div>{{section.settings.review_count}} Reviews</div>
        </a>
      </div>
    </div>
    <div class="testimonial-slide-inner-home">
      <div class="testimonial-slide-flex-row-home">
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;They&#x27;re sweet and powerful. I take mine about an hour before dinner and my whole evening is so much more enjoyable.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Dalia Frazier</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;I really prefer these delta 8 gummies for winding down and slipping into bed. Love the effects and they taste great! Blue Raz is my fav.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Carrie Spachman</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;The summit gummies are the real deal, and we love the way they make us feel.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Jackie Johnson</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;Finally!! A pure, clean, lab tested, delicious, and high performance delta 9 THC gummy. These are the best I&#x27;ve found, and I love the free shipping and bulk discounts!!!&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Marquise Webster</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;I&#x27;ve been looking for a lab verified gummy and Summit delta 8 gummies hit the mark. Priced well for such a premium, great tasting, potent gummy.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Jo Mooney</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;The summit gummies are both tasty and effective. I take one before dinner on an empty stomach, as instructed. They work!!&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Seth Odom</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;A lot of these brands are cheap and don&#x27;t actually post lab tests like Summit. These are the real thing and they work really well.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Clay Kennedy</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;My husband and I love these! They taste really delicious and they&#x27;re pretty powerful. I&#x27;d start with half of one.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Selina Moreno</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;Summit mango flavor is so good. These gummies are amazing and I love to share them with my friends. Everyone loves them!&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Michael Andrews</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;I can&#x27;t recommend these enough! You really have to try them before eating when your stomach is empty to get the best effects.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Fiona Castro</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta8-min.png" loading="lazy" alt="Delta-8" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
        <div class="testimonial-flex-col-home">
          <div class="testimonial-flex-col-inner-home">
            <div class="testimonial-col-top-wrapper-home">
              <div class="testimonial-slide-rte-home w-richtext">
                <p>&quot;I found these online and figured I&#x27;d try them, since they have a guarantee. I was not disappointed, and they really work. Take them on an empty stomach for max effect.&quot;</p>
              </div>
            </div>
            <div class="testimonial-col-bottom-wrapper-home">
              <div class="testimonial-col-info-wrapper-home">
                <div class="testimonial-star-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="testimonial-star-img-full"></div>
                <div class="testimonial-slide-name-home">Francis L</div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="testimonial-tag-img">
              </div><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/Color-Bar-1.png" alt="" class="testimonial-col-border-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-disclaimer-text">These testimonials are for informational purposes only. The information is not a substitute for expert medical care. Testimonials are written by actual customers and represent their own observations. These observations are not medically substantiated, guaranteed, and may not be typical for other customers.</div>
  </div>
</div>
{%- endcomment -%}






{% schema %}
{
  "name": "Reviews",
  "settings": [
      {
       "type": "product",
       "id": "featured_product",
       "label": "Featured Product"
      },
      {
        "type": "text",
        "id": "review_count",
        "label": "Review Count"
       }
  ]

}
{% endschema %}



