

<div class="banner-section-home">
  <div class="banner-content-wrapper">
    <div class="banner-flex-row-outer">
      <div class="banner-flex-col-outer-2" data-ix="fadeinleft">
        <div class="banner-heading-wrapper">
          <h3 class="section-heading">Why Choose Summit?</h3>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/quality-min.png" loading="lazy" alt="Leaf" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">Premium Quality</h5>
            </div>
          </div>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/free-shipping-min.png" loading="lazy" alt="Shipping Box" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">Free Shipping</h5>
            </div>
          </div>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-money-min.png" loading="lazy" alt="Money" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">Money Back Guarantee**</h5>
            </div>
          </div>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/support-min.png" loading="lazy" alt="Speech Bubble" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">Personalized Support</h5>
            </div>
          </div>
        </div>
        <div class="banner-content-block">
          <div class="banner-content-flex-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/lab-testing-min.png" loading="lazy" alt="Microscope" class="banner-flex-img">
            <div class="banner-content-info-wrapper">
              <h5 class="banner-content-flex-heading">3rd-Party Lab Testing</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD.png" loading="eager" sizes="(max-width: 479px) 100vw, (max-width: 991px) 75vw, 933.328125px" srcset="//cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-500.png 500w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-800.png 800w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD-p-1080.png 1080w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/why-choose-summit-MOD.png 1200w" alt="" class="banner-design-img">
</div>


{% schema %}
{
  "name": "Image Banner 1"
}
{% endschema %}

