

<div class="feel-section">
  <div class="feel-container">
    <div class="feel-heading-wrapper">
      <h1 data-ix="fadeindown">Find Your Feeling</h1>
    </div>
    <div class="mobile-wrapper">
      <p>We’ll help you select the perfect product for any occasion.</p>
    </div>
    <div class="feel-grid">
      <div class="feel-grid-inner" data-ix="fadeinright">
        <div class="feel-grid-content-wrapper">
          <div class="feel-img-wrapper">
            <a href="/products/15mg-20ct-delta-9-vegan-infused-gummies" class="product-col-img-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/feeling-D9_1.png?v=1679946631" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 27vw, (max-width: 991px) 30vw, 264.65625px"  alt="Summit Delta 9 Product Image" class="product-col-img"></a>
          </div>
          <div class="feel-inner-heading-wrapper">
            <p class="subheader pink-text">DELTA-9 GUMMIES</p>
          </div>
          <div class="feel-text-wrapper">
            <div class="feel-rtb w-richtext">
              <p>Boost mood and inspiration.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="feel-grid-inner" data-ix="fadeinright">
        <div class="feel-grid-content-wrapper">
          <div class="feel-img-wrapper">
            <a href="/products/25mg-20ct-hhc-vegan-infused-gummies" class="product-col-img-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/feeling-HHC_1.png?v=1679946630" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 27vw, (max-width: 991px) 30vw, 264.671875px"  alt="Summit HHC Product Image" class="product-col-img"></a>
          </div>
          <div class="feel-inner-heading-wrapper">
            <p class="subheader yellow-text">HHC GUMMIES</p>
          </div>
          <div class="feel-text-wrapper">
            <div class="feel-rtb w-richtext">
              <p>Get elevated and comfortable.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="feel-grid-inner" data-ix="fadeinright">
        <div class="feel-grid-content-wrapper">
          <div class="feel-img-wrapper">
            <a href="/products/25mg-30ct-delta-8-vegan-infused-gummies" class="product-col-img-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/feeling-D8_1.png?v=1679946630" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 27vw, (max-width: 991px) 30vw, 264.671875px"  alt="Summit Delta 8 Product Image" class="product-col-img"></a>
          </div>
          <div class="feel-inner-heading-wrapper">
            <p class="subheader blue-text">DELTA-8 GUMMIES</p>
          </div>
          <div class="feel-text-wrapper">
            <div class="feel-rtb smaller w-richtext">
              <p>Chill out and enjoy.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-e0def444-9c6c-6dfa-1374-67c3b7f01bf4-db35c414" class="meter-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/effects-meter-desktop.svg" loading="lazy" alt="A gradient scale that starts at pink and says energized on the left, goes to yellow and says balanced in the middle, and ends with blue and says relaxed on the right." class="meter-img-desktop"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/effects-meter-mobile.svg" loading="lazy" alt="Vertical gradient with arrows. The top is pink and says energizing, the middle is yellow and says balanced, and the bottom is light teal and says relaxing" class="meter-img-mobile"></div>
    </div>
    <a href="pages/product-guide" class="btn-main center-align w-button large">EXPLORE AND EXPERIENCE</a>
  </div>
</div>

{%- comment -%}
  <div class="sub-hero-wrapper">
    <div class="container-mid">
      <div class="sub-hero-content-wrapper">
        <div class="sub-hero-heading-img-wrapper" data-ix="fadeindown"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/summit-mark-purple.png" loading="lazy" alt="Summit" class="sub-hero-heading-img"></div>
        <div class="sub-hero-heading-wrapper">
          <h2 class="sub-hero-heading-home" data-ix="fadeinup">The Summit Experience</h2>
          <div class="sub-hero-heading-text-wrapper">
            <div class="body-rte-dark w-richtext">
              <p>Whether you’re taking Summit THC Gummies for wellness, relaxation, creativity, sleep, or to elevate your social game, you can always expect excellent results.</p>
            </div>
          </div>
        </div>
        <div class="sub-hero-flex-row" data-ix="fadeinright">
          <div class="sub-hero-flex-col">
            <div class="sub-hero-flex-col-inner">
              <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-vegan-min.png" loading="lazy" alt="Plant Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Vegan</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-euphoric-min.png" loading="lazy" alt="Brain Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Euphoric*</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-infused-min.png" loading="lazy" alt="Cannabis Leaf Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Infused</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-delicious-min.png" loading="lazy" alt="Watermelon Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Incredibly Delicious</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-ingredients-min.png" loading="lazy" alt="Heart Shaped Apple Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">All Natural Ingredients</h4>
          </div>
        </div>
      </div>
      <div class="sub-hero-bottom-wrapper" data-ix="fadeinup">
        <div class="sub-hero-disclaimer-text">*The effects of cannabinoids will vary from person to person.</div>
      </div>
    </div>
  </div>
</div>
{%- endcomment -%}


{% schema %}
{
  "name": "Content Block"
}
{% endschema %}