


<div class="sub-hero-wrapper">
  <div class="container-mid">
    <div class="sub-hero-content-wrapper">
      <div class="sub-hero-heading-img-wrapper" data-ix="fadeindown"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/summit-mark-purple.png" loading="lazy" alt="Summit" class="sub-hero-heading-img"></div>
      <div class="sub-hero-heading-wrapper">
        <h2 class="sub-hero-heading-home" data-ix="fadeinup">The Summit Experience</h2>
        <div class="sub-hero-heading-text-wrapper">
          <div class="body-rte-dark w-richtext">
            <p>Whether you’re taking Summit THC Gummies for wellness, relaxation, creativity, sleep, or to elevate your social game, you can always expect excellent results.</p>
          </div>
        </div>
      </div>
      <div class="sub-hero-flex-row" data-ix="fadeinright">
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-vegan-min.png" loading="lazy" alt="Plant Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Vegan</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-euphoric-min.png" loading="lazy" alt="Brain Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Euphoric*</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-infused-min.png" loading="lazy" alt="Cannabis Leaf Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Infused</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-delicious-min.png" loading="lazy" alt="Watermelon Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Incredibly Delicious</h4>
          </div>
        </div>
        <div class="sub-hero-flex-col">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arch-ingredients-min.png" loading="lazy" alt="Heart Shaped Apple Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">All Natural Ingredients</h4>
          </div>
        </div>
      </div>
      <div class="sub-hero-bottom-wrapper" data-ix="fadeinup">
        <div class="sub-hero-disclaimer-text">*The effects of cannabinoids will vary from person to person.</div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Content Block"
}
{% endschema %}