


<div class="mid-wrapper-testing">
  <div class="mid-container-testing">
    <div class="mid-flex-row-testing">

      <div class="mid-flex-col-testing">
        <a href="#" target="_blank" class="mid-flex-col-inner-testing w-inline-block" data-ix="modal-testing-open-2">
          <div class="mid-heading-wrapper-testing">
            <h4 class="mid-heading-testing">Hemp Derived Delta-9 Gummies</h4>
          </div>
          <div class="mid-flex-col-img-wrapper-testing">
            <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/D9-pouch.png?v=1664472109" loading="lazy" alt="Summit Delta 9 Gummie Container" class="mid-flex-col-img-testing">
          </div>
          <div class="mid-flex-col-btn-wrapper-testing">
            <div class="btn-banner-text">VIEW LAB RESULTS</div>
          </div>
        </a>
      </div>

      <div class="mid-flex-col-testing">
        <a href="#" class="mid-flex-col-inner-testing w-inline-block" data-ix="modal-testing-open">
          <div class="mid-heading-wrapper-testing">
            <h4 class="mid-heading-testing">Hemp Derived Delta-8 Gummies</h4>
          </div>
          <div class="mid-flex-col-img-wrapper-testing">
            <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/D8-pouch.png?v=1664472109" loading="lazy" alt="Summit Delta 8 Gummie Container" class="mid-flex-col-img-testing">
          </div>
          <div class="mid-flex-col-btn-wrapper-testing">
            <div class="btn-banner-text">VIEW LAB RESULTS</div>
          </div>
        </a>
      </div>

      <div class="mid-flex-col-testing">
        <a href="#" class="mid-flex-col-inner-testing w-inline-block" data-ix="modal-testing-open-3">
          <div class="mid-heading-wrapper-testing">
            <h4 class="mid-heading-testing">Hemp Derived HHC Gummies</h4>
          </div>
          <div class="mid-flex-col-img-wrapper-testing">
            <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/D8-pouch.png?v=1664472109" loading="lazy" alt="Summit Delta 8 Gummie Container" class="mid-flex-col-img-testing">
          </div>
          <div class="mid-flex-col-btn-wrapper-testing">
            <div class="btn-banner-text">VIEW LAB RESULTS</div>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div class="mid-overlay-testing"></div>
</div>



{% schema %}
{
  "name": "Main Content"
}
{% endschema %}