<div class="lab-testing-hero-wrapper">
    <div class="lab-testing-hero-content-wrapper">
      <div class="lab-testing-hero-content-inner" data-ix="fadeinright">
        <div class="hero-subheader-wrapper">
          <p class="subheader">TESTED &amp; VERIFIED</p>
        </div>
        <h1 class="sem-bold-text">We believe in transparency.</h1>
        <div class="p-wrapper-hero">
          <p>You won’t find lab testing available for many of our competitors, or they may just offer one of the several tests we perform. Rest easy knowing that we’ve got your back when it comes to quality, safety, and guaranteed potency.</p>
        </div>
      </div>
    </div>
  </div>









  <div class="lab-results-section">
    <div class="lab-testing-container">
      <div class="feel-heading-wrapper">
        <h2 class="sem-bold-text" data-ix="fadeindown"><span class="explore-span">Explore our</span> third-party lab results.</h2>
      </div>
      <div class="lab-testing-grid">
        <div class="lab-testing-grid-inner" data-ix="modal-testing-open-2" data-ix="fadeinright">
          <div class="lab-testing-grid-content-wrapper">
            <div class="lab-testing-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/product-D9_b9fd4ba7-36ff-4ccd-9d62-db75bec5e503.png?v=1679954255" loading="eager" sizes="(max-width: 479px) 220px, (max-width: 767px) 28vw, (max-width: 991px) 29vw, 230px" alt=""></div>
            <a href="#" class="btn-delta-9 w-button">DELTA-9 RESULTS</a>
          </div>
        </div>
        <div class="lab-testing-grid-inner" data-ix="modal-testing-open-3" data-ix="fadeinright">
          <div class="lab-testing-grid-content-wrapper">
            <div class="lab-testing-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/product-HHC_d047313b-5e77-4b34-a63e-4e3fb5126ef1.png?v=1679954255" loading="eager" sizes="(max-width: 479px) 220px, (max-width: 767px) 28vw, (max-width: 991px) 29vw, 230px"  alt=""></div>
            <a href="#" class="btn-hhc w-button">HHC RESULTS</a>
          </div>
        </div>
        <div class="lab-testing-grid-inner" data-ix="modal-testing-open" data-ix="fadeinright">
          <div class="lab-testing-grid-content-wrapper">
            <div class="lab-testing-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/product-D8_6a021e6e-a8c2-483a-8810-bee7849ad0a5.png?v=1679954255" loading="eager" sizes="(max-width: 479px) 220px, (max-width: 767px) 28vw, (max-width: 991px) 29vw, 230px"  alt=""></div>
            <a href="#" class="btn-delta-8 w-button">DELTA-8 RESULTS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testing-section">
    <div class="cta-content-wrapper">
      <div class="testing-grid">
        <div id="w-node-_53035770-22ae-834c-c170-52621b6da355-60f42e18" class="testing-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/We_test-desktop_1.png?v=1679954255" loading="eager" sizes="(max-width: 767px) 100vw, 41vw" alt="Summit Delta 8, Delta 9, and HHC Products all laying down on a light grey background. there are shadows coming off of the products" class="testing-img"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/We_test-mobile.png?v=1679954254" loading="eager" sizes="(max-width: 479px) 92vw, (max-width: 767px) 234px, 100vw" alt="Summit Delta 8, Delta 9, and HHC Products all laying down on a light grey background. there are shadows coming off of the products" class="testing-img-mobile"></div>
        <div id="w-node-_53035770-22ae-834c-c170-52621b6da358-60f42e18" class="lab-testing-header">
          <h2 class="sem-bold-text" data-ix="fadeinup">About Our Testing</h2>
        </div>
        <div id="w-node-_5e0d5f08-4136-a610-b141-1d577df8f39d-60f42e18" class="lab-paragraph">
          <p>Our Delta-9 Gummies, Delta-8 Gummies, and HHC Gummies are tested with ISO-accredited labs. We test for the following:</p>
        </div>
        <div class="testing-content-block hide-mob" data-ix="fadeinright">
          <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-potency.svg" loading="eager" alt="Dial with a pointer set in the middle icon" class="test-flex-img">
            <div class="testing-info-wrapper">
              <p class="test-top-text">Potency</p>
              <p class="test-bottom-text">Potency is guaranteed.</p>
            </div>
          </div>
        </div>
        <div class="testing-content-block hide-mob" data-ix="fadeinright">
          <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-microbial.svg" loading="eager" alt="Microbes icon" class="test-flex-img">
            <div class="testing-info-wrapper">
              <p class="test-top-text">Microbial Analysis</p>
              <p class="test-bottom-text">No bacteria, yeast, or mold.</p>
            </div>
          </div>
        </div>
        <div data-delay="4000" data-animation="slide" class="testing-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="mask w-slider-mask">
            <div class="why-slide w-slide">
              <div class="testing-content-block" data-ix="fadeinright">
                <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-potency.svg" loading="eager" alt="Dial with a pointer set in the middle icon" class="test-flex-img">
                  <div class="testing-info-wrapper">
                    <p class="test-top-text">Potency</p>
                    <p class="test-bottom-text">Potency is guaranteed.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="testing-content-block" data-ix="fadeinright">
                <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-microbial.svg" loading="eager" alt="Microbes icon" class="test-flex-img">
                  <div class="testing-info-wrapper">
                    <p class="test-top-text">Microbial Analysis</p>
                    <p class="test-bottom-text">No bacteria, yeast, or mold.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="testing-content-block" data-ix="fadeinright">
                <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-heavy-metal.svg" loading="eager" alt="" class="test-flex-img">
                  <div class="testing-info-wrapper">
                    <p class="test-top-text">Heavy Metal Analysis</p>
                    <p class="test-bottom-text">No heavy metals.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="testing-content-block" data-ix="fadeinright">
                <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-residual.svg" loading="eager" alt="Erlenmeyer flask icon" class="test-flex-img">
                  <div class="testing-info-wrapper">
                    <p class="test-top-text">Residual Solvents</p>
                    <p class="test-bottom-text">No chemicals from extraction.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="why-slide w-slide">
              <div class="testing-content-block" data-ix="fadeinright">
                <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-pesticide.svg" loading="eager" alt="Diagram of a molecule with a the molecule crossed out icon" class="test-flex-img">
                  <div class="testing-info-wrapper">
                    <p class="test-top-text">Pesticide Analysis</p>
                    <p class="test-bottom-text">Organically grown, pesticide free.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hide-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="hide-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="why-slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="testing-content-block hide-mob" data-ix="fadeinright">
          <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-heavy-metal.svg" loading="eager" alt="" class="test-flex-img">
            <div class="testing-info-wrapper">
              <p class="test-top-text">Heavy Metal Analysis</p>
              <p class="test-bottom-text">No heavy metals.</p>
            </div>
          </div>
        </div>
        <div class="testing-content-block hide-mob" data-ix="fadeinright">
          <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-residual.svg" loading="eager" alt="Erlenmeyer flask icon" class="test-flex-img">
            <div class="testing-info-wrapper">
              <p class="test-top-text">Residual Solvents</p>
              <p class="test-bottom-text">No chemicals from extraction.</p>
            </div>
          </div>
        </div>
        <div class="testing-content-block hide-mob" data-ix="fadeinright">
          <div class="testing-flex-row"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-lab-pesticide.svg" loading="eager" alt="Diagram of a molecule with a the molecule crossed out icon" class="test-flex-img">
            <div class="testing-info-wrapper">
              <p class="test-top-text">Pesticide Analysis</p>
              <p class="test-bottom-text">Organically grown, pesticide free.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="questions-section">
    <div class="question-content-wrapper">
      <div class="subheader-money-wrapper">
        <p class="subheader" data-ix="fadeinup">GOT QUESTIONS?</p>
      </div>
      <h2><span class="hear-break">We&#x27;d love to hear</span> from you.</h2>
      <div class="questions-wrapper" data-ix="fadeinup">
        <div class="body-rtb-dark w-richtext">
          <p>We’re here to help with any questions you have about our Summit Delta 9, HHC, or Delta 8 Gummies. Reach out to use directly if you need anything at all via text or email.</p>
        </div>
      </div>
      <div class="questions-flex-row">
        <div class="questions-flex-col">
          <p class="subheader pink-text">TEXT US</p>
          <a href="#" class="question-link w-inline-block">
            <div>(720) 593-4971</div>
          </a>
        </div>
        <div class="questions-flex-col">
          <p class="subheader pink-text">EMAIL US</p>
          <a href="mailto:contact@summitTHC.com" class="question-link w-inline-block">
            <div>contact@summitTHC.com</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="enjoy-terms-section">
    <div class="enjoy-on-your-terms-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/lab-testing-text-banner.jpg" loading="eager" sizes="100vw" alt="" class="terms-img-wrapper">
      <div class="enjoy-your-terms-content">
        <div class="enjoy-terms-header-wrapper">
          <h2 class="white-text" data-ix="fadeinup">Enjoy on your Terms</h2>
        </div>
        <p class="general-p white-text">Whether you use our Delta-9, HHC, or Delta-8 Gummies for health, as a boost to creativity, or to recreationally relax, we know you’ll enjoy the ride.</p>
        <div class="your-terms-btn-wrapper">
          <a href=/pages/product-guide class="btn-main-lilac w-button">SHOP SUMMIT</a>
        </div>
      </div>
    </div>
  </div>