<div class="sub-hero-wrapper-testing">
  <div class="container-small">
    <div class="sub-hero-heading-wrapper-testing">
      <h3 class="sub-hero-heading-testing" data-ix="fadeindown">We test for the following.</h3>
    </div>
    <div class="sub-hero-flex-row-testing" data-ix="fadeinright">
      <div class="sub-hero-flex-col-testing-wide">
        <div class="sub-hero-flex-col-inner-testing">
          <div class="sub-hero-flex-col-top-wrapper-testing"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/potency-min.png" loading="lazy" alt="Guage" class="sub-hero-flex-col-img-testing"></div>
          <div class="sub-hero-info-wrapper-testing">
            <h4 class="sub-hero-flex-col-heading-testing">Potency</h4>
            <div class="sub-hero-flex-col-text-testing">Potency is guaranteed.</div>
          </div>
        </div>
      </div>
      <div class="sub-hero-flex-col-testing-wide">
        <div class="sub-hero-flex-col-inner-testing"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/microbial-analysis-min.png" loading="lazy" alt="Microbes" class="sub-hero-flex-col-img-testing">
          <div class="sub-hero-info-wrapper-testing">
            <h4 class="sub-hero-flex-col-heading-testing">Microbial Analysis</h4>
            <div class="sub-hero-flex-col-text-testing">No bacteria, yeast, or mold.</div>
          </div>
        </div>
      </div>
      <div class="sub-hero-flex-col-testing">
        <div class="sub-hero-flex-col-inner-testing"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/metal-analysis-min.png" loading="lazy" alt="Heavy Metal Analysis" class="sub-hero-flex-col-img-testing">
          <div class="sub-hero-info-wrapper-testing">
            <h4 class="sub-hero-flex-col-heading-testing">Heavy Metal Analysis</h4>
            <div class="sub-hero-flex-col-text-testing">No lead, arsenic, or mercury.</div>
          </div>
        </div>
      </div>
      <div class="sub-hero-flex-col-testing">
        <div class="sub-hero-flex-col-inner-testing"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/solvents-min.png" loading="lazy" alt="" class="sub-hero-flex-col-img-testing">
          <div class="sub-hero-info-wrapper-testing">
            <h4 class="sub-hero-flex-col-heading-testing">Residual Solvents</h4>
            <div class="sub-hero-flex-col-text-testing">No chemicals from extraction.</div>
          </div>
        </div>
      </div>
      <div class="sub-hero-flex-col-testing">
        <div class="sub-hero-flex-col-inner-testing"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/pesticide-analysis-min.png" loading="lazy" alt="Pesticide Analysis" class="sub-hero-flex-col-img-testing">
          <div class="sub-hero-info-wrapper-testing">
            <h4 class="sub-hero-flex-col-heading-testing">Pesticide Analysis</h4>
            <div class="sub-hero-flex-col-text-testing">Organically grown, pesticide free.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-hero-text-wrapper-testing" data-ix="fadeinup">
      <div class="body-rte-dark w-richtext">
        <p>We test our Delta 9 Gummies and Delta 8 Gummies with ISO accredited labs. This testing goes above and beyond regulations to ensure that your experience with Summit is excellent. Our potencies are guaranteed, and our safety testing goes beyond our competition. </p>
        <p>You won’t find lab testing available for many of our competitors, or they may just offer one of the several tests above. We take the mystery out of it, so you can rest easy knowing that we’ve got your back when it comes to quality and safety. </p>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Top Content"
}
{% endschema %}


