{%- comment -%}
<div class="info-section-product">
  <div class="info-flex-row-outer-product">
    <div class="info-flex-col-outer-product-1">
      <div class="info-flex-col-inner-product">
        <div class="info-badge-wrapper-product"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/tag-delta9-min.png" loading="lazy" alt="Delta-9" class="mid-flex-col-badge-img"></div>
        <div class="info-heading-wrapper-product">
          <h3 class="section-heading-alt">What is Delta-9?</h3>
        </div>
        <div class="info-flex-col-text-wrapper">
          <div class="info-rte-product w-richtext">
            <p>Delta 9 is a historically famous cannabinoid known for its uplifting and good vibes. It is a naturally occurring compound in cannabis plants, which is what we use in our Summit Delta 9 Gummies. Delta 9 THC has a reputation for creating the fun, energizing, and elevated experience that so many enjoy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="info-flex-col-outer-product-2">
      <div class="info-img-block-product"></div>
    </div>
  </div>
</div>

{%- endcomment -%}








<div class="info-section-product">
  <div class="info-flex-row-outer-product margin-b">

    
    <div class="info-flex-col-outer-product-2">

      <div class="info-heading-wrapper-product info-heading-wrapper-product-alt mobile">
        <h1 class="section-heading-alt dark">What is Delta-9?</h1>
      </div>

      <div class="info-img-block-product info-img-block-product-2">
  
   
          <img class="center-img" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/what_is-D9_1.png?v=1676671650" alt="">
  
      </div>
    </div>

    <div class="info-flex-col-outer-product-1">
      <div class="info-flex-col-inner-product">

        <div class="info-heading-wrapper-product info-heading-wrapper-product-alt desktop">
          <h1 class="section-heading-alt dark">What is Delta-9?</h1>
        </div>

        <div class="info-flex-col-text-wrapper">
          <div class="info-rte-product w-richtext">
            <p>As the classic cannabinoid, Delta-9 is renowned for its cerebral experience and relief potential. The cannabinoid exists in abundance within both marijuana and hemp–and we use the latter in our Gummies. Delta 9 has a reputation for being a fun, energizing, and elevating experience, and for good reason! It’s time to experience it for yourself, don’t you think?</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>


{% schema %}
{
  "name": "Information Row"
}
{% endschema %}


