

<div class="cta-section-product more-padding">
  <div class="cta-section-content-wrapper">
    <div class="cta-content-inner">
      <div class="cta-heading-img-wrapper-product"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-check.svg?v=1676409972" loading="lazy" alt="Checkmark" class="cta-heading-img-product"></div>
      <div class="cta-top-heading-wrapper-product">
        <h4 class="section-heading-sm dark">PURCHASE WITH CONFIDENCE</h4>
      </div>
      <div class="cta-heading-wrapper">
        <h2 class="section-heading dark">Money Back Guarantee</h2>
      </div>
      <div class="cta-rte w-richtext dark desktop">
        <p>We’re here to take care of you every step of the way. We’re committed to the integrity of our products, so relax, and enjoy the ride.</p>
      </div>
    </div>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/money_back.png?v=1676409975" loading="eager" alt="Person" class="cta-design-img-product">
  <div class="cta-rte w-richtext dark mobile">
    <p>We’re here to take care of you every step of the way. We’re committed to the integrity of our products, so relax, and enjoy the ride.</p>
  </div>
</div>


{% schema %}
{
  "name": "Image Banner 1"
}
{% endschema %}

