<div class="faq-section-product orange">
  <div class="bottom-container-contact">
    <div class="bottom-heading-section-contact">
      <div class="bottom-sub-heading-wrapper-contact">
        <h4 class="section-heading-sm orange">HOW CAN WE HELP?</h4>
      </div>
      <div class="bottom-heading-wrapper-contact">
        <h1 class="section-heading-alt">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="tab-inner-faq">
      <div class="tab-content-holder-faq">
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">What is Delta 9 THC?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Delta 9 THC is a naturally occurring form of tetrahydrocannabinol (THC) that is found in both hemp and marijuana plants. Delta 9 is best known for its euphoric effects and can be consumed in many different forms: as Delta 9 flower, Delta 9 vape, Delta 9 edibles, and more. Edibles deliver by far the most well-rounded, longest-lasting experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">Are Delta 9 gummies legal?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 Yep. The 2018 Farm Bill made hemp legal to cultivate and sell, as long as it contains less than 0.3% THC. Our Summit Delta 9 Gummies are entirely hemp-derived, making them legal in all 50 states.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">What is the difference between Delta 8 and Delta 9?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                We generally characterize our Summit Delta 8 Gummies as bringing more of a full-bodied, relaxing, and profound experience. Our Delta 9 Gummies are more often used to give an uplifting, energetic feeling. The difference can be subtle–so either can be used to enhance whatever type of mood you’re in!<br></br>Beyond how they’ll make you feel, if you wanna get scientific about it, the difference between these two cannabinoids is just one molecule! Both are forms of tetrahydrocannabinol (THC), but Delta 8 has one less molecule than Delta 9, and is usually created by converting another cannabinoid, like CBD, through a conversion process. Delta 8 is naturally occurring in cannabis in small amounts, which is why it’s most often synthesized.  Delta 9 THC is also naturally occurring and is the most well-known cannabinoid known for its euphoric, uplifting experience. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">What is in Summit Delta 9 Gummies?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
We combine our Delta 9, derived from locally grown Colorado hemp, into a delicious Gummy made with premium organic ingredients like tapioca syrup, fruit pectin (instead of gelatin–these are vegan, y’all!), cane sugar, and more. We believe that superior ingredients = superior taste! <br></br>Every batch is tested for safety and potency, and each Summit Gummy is truly infused with our Delta 9; we do not spray or tumble our Gummies like other brands. This makes for a more consistent, reliable experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">What is Delta 9 distillate and is it in Summit Delta 9 edibles?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
           Delta 9 distillate is a concentrated oil that is extracted from the hemp plant. Our Summit 15mg Delta 9 Gummies use clean CO2 extraction,  yielding our potent concentrate. We truly infuse our Gummies with this distillate so it is consistent across the entire batch before the Gummies are molded into their solid form.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">Does Delta 9 help with pain?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
     Scientific findings suggest that Delta 9 THC may help with pain management. Studies have found that this cannabinoid can help with daily and conditional pain, although we recommend speaking with a medical professional to see how it may specifically help you. Delta 9 can also reduce anxiety and stress which lessens the experience of pain.
                </p>
              </div>
            </div>
          </div>
        </div>
          <div class="content-block-faq">
            <div class="heading-wrapper-faq orange" data-ix="faq-expand">
              <h4 class="heading-faq">Does delta 9 help with anxiety?</h4>            <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973" loading="lazy" alt="Plus" class="heading-img-faq x">
              <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983" loading="lazy" alt="Plus" class="heading-img-faq-min">
            </div>
            <div class="expand-wrapper-faq">
              <div class="expand-inner-faq">
                <div class="expand-rte-faq w-richtext">
                  <p>Delta 9 is known to give some folks a mood boost. Plenty of people anecdotally report Delta 9 lowers their anxiety.<br></br>Keep in mind, though, that everyone experiences the effects of cannabinoids differently, so your experience may not be the same as someone else’s. Delta 9 can also cause anxiety at times, so especially when you’re just starting out on your Delta 9 journey, begin with low doses so you can assess how it makes you feel. Half of one of our Delta 9 Gummies is considered to be a full dose, so try out a quarter on your first go and gradually increase as needed. Remember to wait at least 45 minutes before upping your dose as it can take a while for you to begin to feel the effects.</p>
                </div>
              </div>
            </div>
          </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">
             What about Delta 9 for sleep?
            </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
           Delta 9 can certainly have relaxing effects and may help some people get a good night’s rest.  But our Delta 9 Gummies tend to have a more energizing effect which can be ideal for active situations, creative processes, and socializing. <br></br>If you’re looking for support in establishing healthy sleep cycles, then we recommend our Delta 8 Gummies which have a heavier, more sedative effect and are an ideal choice for evening consumption. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">Is Delta 9 the same as THC?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                Yes: Delta 9 is the same as THC, because it is a form of THC. Although there are many forms of THC, Delta 9 is a specific variant that is naturally occurring in both hemp and marijuana cannabis plants, and is the most famous for its impactful effects.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">Where can I buy Delta 9 near me?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
           You can buy Delta 9 at summitthc.com, or at one of our many partner retailers. Contact us to see if we have a retailer near you–and if you don’t,  we’ll ship them right to your door! 
                </p>
              </div>
              
            </div>
          </div>
        </div>


        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">Where can I buy Delta 9 online?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  We’ve got you covered! You can purchase Delta 9 at summitthc.com, where we are thrilled to serve you with affordable, premium D9 products!
              </p>
              </div>
              
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq orange" data-ix="faq-expand">
            <h4 class="heading-faq">What’s the difference between Summit Delta 9 Gummies and R&R CBD Gummies?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D9-minus_e0d900e8-6143-4fd3-a1b8-49fed626f42d.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Most people choose Summit Delta 9 Gummies for potent relief and for recreational fun. Delta-9 THC is thought to produce an elevated, fun vibe. R&R CBD Gummies are generally used to target pain, stress, and sleep.
              </p>
              </div>
              
            </div>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>

{%- comment -%}
<script>
  $(document).ready(function () {
    $('.heading-wrapper-faq').click(function () {
      var minImg = $(this).children('.heading-img-faq-min');
      var xImg = $(this).children('.heading-img-faq.x');
      
      if (minImg.is(':visible')) {
        minImg.fadeOut();
        xImg.fadeIn();
      } else {
        minImg.fadeIn();
        xImg.fadeOut();
      }
    });
    
    $('.heading-img-faq-min').hide();
  });
</script>
{%- endcomment -%}

{% schema %}
{
  "name": "Delta-9 FAQs"
}
{% endschema %}
