

<div class="bottom-icon-section-product">
  <div class="container-mid">
    <div class="sub-hero-content-wrapper center">
      <div class="bottom-icon-heading-wrapper-product">
        <h6 class="section-heading-sm blue">RELAXATION & SERENITY</h6>
        <h2 class="section-heading-alt max-w-298" data-ix="fadeinup">The Feeling of Delta-8</h2>
      </div>
      <div class="bottom-icon-flex-row-product" data-ix="fadeinright">
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-relaxation_98899469-5d42-49b6-a629-0f8000ab07a5.svg?v=1676409972" loading="lazy" alt="Relaxing" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Relaxing*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-tranquility_816dbc65-d8cf-44bb-9300-def8657601c4.svg?v=1676409973" loading="lazy" alt="Creativity" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Tranquil*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-euphoric.svg?v=1676409972" loading="lazy" alt="Euphoric" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Euphoric*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-good_vibes.svg?v=1676409972" loading="lazy" alt="Good Vibes" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Good Vibes*</h4>
          </div>
        </div>
      </div>
      <div class="sub-hero-bottom-wrapper" data-ix="fadeinup">
        <div class="sub-hero-disclaimer-text">*The effects of cannabinoids will vary from person to person.</div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Icon Section"
}
{% endschema %}


