
<div class="info-section-product">
    <div class="info-flex-row-outer-product margin-b">

      
      <div class="info-flex-col-outer-product-2">

        <div class="info-heading-wrapper-product info-heading-wrapper-product-alt mobile">
          <h1 class="section-heading-alt dark">What is HHC?</h1>
        </div>

        <div class="info-img-block-product info-img-block-product-2">

            <img class="center-img " src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/what_is-HHC.png?v=1676671650" alt="">
    
        </div>
      </div>

      <div class="info-flex-col-outer-product-1">
        <div class="info-flex-col-inner-product">

          <div class="info-heading-wrapper-product info-heading-wrapper-product-alt desktop">
            <h1 class="section-heading-alt dark">What is HHC?</h1>
          </div>

          <div class="info-flex-col-text-wrapper">
            <div class="info-rte-product w-richtext">
              <p>HHC is a naturally occurring compound found in cannabis plants. Striking a nice balance between intensity and relaxation, HHC possesses the soothing qualities of Delta 8 THC and the stimulating properties of Delta 9 THC. If you’re looking for a blended experience that promotes creativity, inspiration, and relaxation, then HHC is for you.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>


{% schema %}
{
  "name": "Information Row"
}
{% endschema %}


