
<div class="info-section-product">
    <div class="info-flex-row-outer-product margin-b">

      
      <div class="info-flex-col-outer-product-2">

        <div class="info-heading-wrapper-product info-heading-wrapper-product-alt mobile">
          <h1 class="section-heading-alt dark">What is Delta-8?</h1>
        </div>

        <div class="info-img-block-product info-img-block-product-2">

            <img class="center-img " src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/what_is-D8_1.png?v=1676671651" alt="">
    
        </div>
      </div>

      <div class="info-flex-col-outer-product-1">
        <div class="info-flex-col-inner-product">

          <div class="info-heading-wrapper-product info-heading-wrapper-product-alt desktop">
            <h1 class="section-heading-alt dark">What is Delta-8?</h1>
          </div>

          <div class="info-flex-col-text-wrapper">
            <div class="info-rte-product w-richtext">
              <p>Delta 8 is a type of THC that comes from cannabis plants and that can be created from other cannabinoids such as CBD. Delta 8 is beloved for its ability to let you chill out, with effects that are described as more indica-leaning: smooth and weighted, perfect for a cozy night on the couch. And we could all use a lot more of those, right? </p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>


{% schema %}
{
  "name": "Information Row"
}
{% endschema %}


