<div class="faq-section-product yellow">
  <div class="bottom-container-contact">
    <div class="bottom-heading-section-contact">
      <div class="bottom-sub-heading-wrapper-contact">
        <h4 class="section-heading-sm yellow">HOW CAN WE HELP?</h4>
      </div>
      <div class="bottom-heading-wrapper-contact">
        <h1 class="section-heading-alt">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="tab-inner-faq">
      <div class="tab-content-holder-faq">
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">What are HHC Gummies?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Summit’s HHC Gummies are crafted with all-natural and organic ingredients and incorporate 25mg of potent HHC extract derived from Colorado-grown hemp. Our vegan and gluten-free formula provides long-lasting relief and a fun ride.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">Effects of Delta 9 vs HHC</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Each person’s experience of HHC will be different, but broadly speaking you can expect an HHC high to have some similarities to Delta 9 in terms of an invigorating, lifting, and euphoric experience. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">HHC effects vs Delta 8 effects</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
HHC has been likened to Delta 8 in terms of its sedative, relaxing properties. A little more energizing than Delta 8–a cannabinoid that’s an excellent choice for before-bedtime dosing–HHC will provide you with clarity and focus as well as a mellowing experience. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">Benefits of HHC</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 Because HHC is relatively new to the scene, not many studies have been done on its benefits. Given its similarities to THC, however, people can often reap similar benefits as Delta 8 and Delta 9. <br></br>People use HHC to help with pain relief, inflammation, and anxiety, and to help regulate sleep cycles. This is all thanks to the similar ways that HHC interacts with the endocannabinoid system in our bodies that affect our mood, our experience of pain, and how often, and how much, we sleep. <br></br>Everyone’s experience with cannabinoids varies, so the best way to find out how HHC works for you is to give it a try.

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">How does Summit create HHC?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 To craft our HHC, we begin with high-quality, hemp-derived Delta 9 THC. Our proprietary hydrogenation process breaks down the bonds of Delta 9 and adds more hydrogen atoms, creating HHC cannabinoids that are more shelf-stable than Delta 9 while bringing similar effects. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">Is HHC less potent than other forms of THC?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 HHC can be less potent than Delta 9 THC due to the hydrogenation process. Two HHC cannabinoids are produced during hydrogenation, one of which is considered “active” and can interact with the brain’s endocannabinoid receptors, thus producing effects you can feel. The other version of HHC that’s created is considered “inactive” since it does not bind with endocannabinoid receptors and will not produce any noticeable effects. The presence of the HHC inactive cannabinoids winds up reducing potency.<br></br>This is why Summit’s HHC Gummies include more HHC per Gummy (25mg) than our Delta 9 Gummies (15mg), ensuring that each Gummy is potent and will produce long-lasting, effective relief. 

                </p>
              </div>
            </div>
          </div>
        </div>
          <div class="content-block-faq">
            <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
              <h4 class="heading-faq">HHC safety</h4>            <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983" loading="lazy" alt="Plus" class="heading-img-faq x">
              <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983" loading="lazy" alt="Plus" class="heading-img-faq-min">
            </div>
            <div class="expand-wrapper-faq">
              <div class="expand-inner-faq">
                <div class="expand-rte-faq w-richtext">
                  <p>As with any supplement, it’s important to know your limits. While HHC is safe, the effects of consuming too much may be unpleasant (but typically not dangerous, unless extremely large volumes are consumed). Especially when you’re new to HHC, start with a low dose to see how you react, and slowly increase your dose as needed.</p>
                </div>
              </div>
            </div>
          </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">
              What are HHC Gummies' side effects? 
            </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                HHC Gummies produce a mellow and focused experience, but when you take too much, there’s a chance you could experience side effects including the following: Dry mouth, Nausea, Dizziness. Anxiousness <br></br>These side effects are only temporary. If you experience these effects, opt for a lower dose next time. We consider half of a Gummy to be one full dose. 

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">Where can I buy HHC?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                Summit’s HHC Gummies are available online and can be shipped to all 50 states! So get shopping and we’ll send your gummies right to your door. 
                </p>
                              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">What does “hemp-derived HHC” mean?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Hemp-derived means that the HHC featured in Summit THC’s products comes from hemp plants. The 2018 Farm Bill made hemp plants legal at the federal level–in contrast to marijuana plants, which remain classified as Schedule 1 drugs and are therefore illegal. As long as hemp contains 0.3% or less of THC based on dry weight, it is legal to sell hemp-derived products featuring THC and related products including HHC.
                </p>
              </div>
            </div>
          </div>
              </div>
      


        <div class="content-block-faq">
          <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
            <h4 class="heading-faq">Is there an HHC drug test? </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Summit Delta-8 Gummies are used for recreational fun, while R&R CBD Gummies are used to target pain,
                  sleep, and stress.
                </p>
              </div>
            </div>
          </div>
              </div>

              <div class="content-block-faq">
                <div class="heading-wrapper-faq yellow" data-ix="faq-expand">
                  <h4 class="heading-faq">What does “hemp-derived HHC” mean?</h4>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-plus_c2b25a8d-cd85-44f9-8536-e3ba8204985e.svg?v=1676409983"
                    loading="lazy"
                    alt="Plus"
                    class="heading-img-faq x"
                  >
                  <img
                    src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-HHC-minus_2d88e986-777c-4d21-a809-0eb62331b108.svg?v=1676409983"
                    loading="lazy"
                    alt="Plus"
                    class="heading-img-faq-min"
                  >
                </div>
                <div class="expand-wrapper-faq">
                  <div class="expand-inner-faq">
                    <div class="expand-rte-faq w-richtext">
                      <p>
                        Hemp-derived means that the HHC featured in Summit THC’s products comes from hemp plants. The 2018 Farm Bill made hemp plants legal at the federal level–in contrast to marijuana plants, which remain classified as Schedule 1 drugs and are therefore illegal. As long as hemp contains 0.3% or less of THC based on dry weight, it is legal to sell hemp-derived products featuring THC and related products including HHC.
                      </p>
                    </div>
                  </div>
                </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{%- comment -%}
  <script>
    $(document).ready(function () {
      $('.heading-wrapper-faq').click(function () {
        var minImg = $(this).children('.heading-img-faq-min');
        var xImg = $(this).children('.heading-img-faq.x');
        
        if (minImg.is(':visible')) {
          minImg.fadeOut();
          xImg.fadeIn();
        } else {
          minImg.fadeIn();
          xImg.fadeOut();
        }
      });
      
      $('.heading-img-faq-min').hide();
    });
  </script>
{%- endcomment -%}

{% schema %}
{
  "name": "Delta-8 FAQs"
}
{% endschema %}
