

<div class="bottom-icon-section-product delta-9">
  <div class="container-mid">
    <div class="sub-hero-content-wrapper">
      <div class="bottom-icon-heading-wrapper-product">
        <h6 class="section-heading-sm orange">IMMERSIVE & INSPIRING</h6>
        <h2 class="section-heading-alt max-w-298" data-ix="fadeinup">The Feeling of Delta-9</h2>
      </div>
      <div class="bottom-icon-flex-row-product" data-ix="fadeinright">
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-energized_7c14ac2b-3485-4a38-81a8-f83dbcf80ed4.svg?v=1676409983" loading="lazy" alt="Eye" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Energizing*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-creative_5c6d5ff6-61b1-4fd8-b9cb-fa278f5cb985.svg?v=1676409983" loading="lazy" alt="Hot Air Balloon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Creative*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-euphoric_30cd7351-87e3-4197-96a3-9b62c2a52d65.svg?v=1676409983" loading="lazy" alt="Brain Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Euphoric*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-good_vibes_ae993c6d-1d48-4b5d-96a6-084e6b2322a9.svg?v=1676409983" loading="lazy" alt="Peace Signe" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Good Vibes*</h4>
          </div>
        </div>
      </div>
      <div class="sub-hero-bottom-wrapper" data-ix="fadeinup">
        <div class="sub-hero-disclaimer-text">*The effects of cannabinoids will vary from person to person.</div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Icon Section"
}
{% endschema %}


