

<div class="bottom-icon-section-product hhc">
  <div class="container-mid">
    <div class="sub-hero-content-wrapper">
      <div class="bottom-icon-heading-wrapper-product">
        <h6 class="section-heading-sm yellow">WELL ROUNDED BLISS</h6>
        <h2 class="section-heading-alt max-w-298" data-ix="fadeinup">The Feeling of HHC</h2>
      </div>
      <div class="bottom-icon-flex-row-product" data-ix="fadeinright">
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-mellow_d2b3519c-9aa6-4069-bab7-64c4fc49e401.svg?v=1676409983" loading="lazy" alt="Eye" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Mellow*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-focused_96183520-2c00-4f2c-99a3-7ca4f01da2a9.svg?v=1676409984" loading="lazy" alt="Hot Air Balloon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Focused*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-euphoric_fc8840c3-80a8-4043-a4a5-7c51f1bc6b7a.svg?v=1676409983" loading="lazy" alt="Brain Icon" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Euphoric*</h4>
          </div>
        </div>
        <div class="bottom-icon-flex-col-product">
          <div class="sub-hero-flex-col-inner">
            <div class="sub-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-good_vibes_cfd0cf1c-0f56-4815-9bd2-86a0177bc9ee.svg?v=1676409989" loading="lazy" alt="Peace Signe" class="sub-hero-icon-img"></div>
            <h4 class="sub-hero-flex-col-heading">Good Vibes*</h4>
          </div>
        </div>
      </div>
      <div class="sub-hero-bottom-wrapper" data-ix="fadeinup">
        <div class="sub-hero-disclaimer-text">*The effects of cannabinoids will vary from person to person.</div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Icon Section"
}
{% endschema %}


