<div class="faq-section-product blue">
  <div class="bottom-container-contact">
    <div class="bottom-heading-section-contact">
      <div class="bottom-sub-heading-wrapper-contact">
        <h4 class="section-heading-sm blue">HOW CAN WE HELP?</h4>
      </div>
      <div class="bottom-heading-wrapper-contact">
        <h1 class="section-heading-alt">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="tab-inner-faq">
      <div class="tab-content-holder-faq">
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What is Delta-8?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                Delta 8 THC is a cannabinoid that’s found naturally occurring in hemp and cannabis plants, and it can also be converted from other cannabinoids like CBD. Delta 8 interacts with the body’s endocannabinoid system to produce tangible effects and has become a popular cannabinoid that many people use to enhance mood, relax, or just feel all-around good. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What’s in Summit Delta 8 edibles?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Aside from our proprietary Delta 8 distillate, our Delta 8 Gummies are made with premium, natural ingredients: sugar, tapioca syrup, pectin, natural flavors, and natural coloring. And that’s it! We keep it simple and focus on the effect–that means no fillers or unnecessary ingredients in our delicious D8 Gummies.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What are the health benefits of Delta 8?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
               People often use Delta 8 to relax and unwind after a long day. This cannabinoid provides a weighted experience that can help you get to sleep. <br></br>Delta 8 brings a range of other benefits, too. Initial research suggests that it may be effective in reducing pain and inflammation, relieving nausea and vomiting, and improving mood and cognitive function. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">Is Delta 8 good for sleep?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 Many people turn to Delta 8 for sleep. This cannabinoid is known for its sedative, relaxing effects, with an experience that can be likened to indica. Taking a dose of Delta 8 in the evening may help with getting to sleep later on. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">Does Delta 8 help with pain?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Quite possibly! Studies have shown that Delta 8 can be an effective pain management tool thanks to its ability to interact with the body’s endocannabinoid system (ECS), a complex system of receptors and signaling molecules that regulate various processes including pain perception. Delta 8 can bind to the CB1 receptors in the ECS and modulate their activity, which can lead to changes–and reductions–in the perception of pain. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">Does Delta 8 show up on a drug test?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  The short answer: quite possibly. Thanks to how similar the molecular structure is between Delta 8 to Delta 9, it’s likely that Delta 8 may show up on a drug test. We do not advise you to consume this product if you are subject to drug testing, as a user may yield a positive test result. Better safe than sorry! 
                </p>
              </div>
            </div>
          </div>
        </div>
          <div class="content-block-faq">
            <div class="heading-wrapper-faq blue" data-ix="faq-expand">
              <h4 class="heading-faq">Will Delta 8 THC get you high?</h4>            <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973" loading="lazy" alt="Plus" class="heading-img-faq x">
              <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972" loading="lazy" alt="Plus" class="heading-img-faq-min">
            </div>
            <div class="expand-wrapper-faq">
              <div class="expand-inner-faq">
                <div class="expand-rte-faq w-richtext">
                  <p>Delta 8 THC tends to give a relaxed, tranquil, and body-heavy experience that’s been likened to an indica feeling. But keep in mind that everyone will have a slightly different experience. The best way to know how you’ll feel on Delta 8 is to give it a whirl! </p>
                </div>
              </div>
            </div>
          </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">
             How should I take Delta 8 Gummies? 
            </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                 For our Summit Delta 8 Gummies, half of one Gummy is considered a full dose. We recommend starting with half especially if you’re new to Delta 8 THC. Once you’ve determined how you feel on half a Gummy, you can begin experimenting with upping your dose from there. But remember: wait at least 45 minutes before consuming more than one dose, since Delta 8 edibles can take a while to kick in. 
To feel maximum effects, consume your dose roughly 15-30 minutes before eating, or on an empty stomach.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">Why do Delta 8 Gummies have more milligrams per Gummy compared with Delta 9 Gummies?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Delta 8 is similar to Delta 9 in many ways, but one of the notable differences between these two cannabinoids is potency. Delta 8 is thought to be less potent than Delta 9. This is why we pack more Delta 8 into each Gummy than our Delta 9 Gummies. Ultimately, we make sure to give you bang for your buck and ensure you have an experience you can feel with both our Delta 8 and Delta 9 Gummies. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">How long does Delta 8 stay in your system?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  It’s impossible to say exactly how long Delta 8 will stay in your system because everyone’s body is different; we all metabolize cannabinoids at different rates depending on a number of factors. Lifestyle, activity, diet, and more can affect this timeline, but some evidence suggests that Delta 8 can stay in your system anywhere between 4-5 days to over a month if you are a regular user.
                </p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What is the difference between Delta 8 and Delta 9?</h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  The difference between Delta 8 and Delta 9 is actually just one molecule. Both are variants of THC, and both are naturally occurring, but they have slightly different structures which influence how each type of THC binds to receptors in the endocannabinoid system. This is why typically a user would take a slightly higher dose of Delta 8 THC compared to D9 THC to get similar effects. 
                  <br>
                The two cannabinoids can feel a bit different, too. Most of our users report our Delta 8 gummies give a more relaxing, full-bodied type of feeling, while Delta 9 gummies yield a more energetic, uplifting type of experience.
                </p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What is HHC vs Delta 8? </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  HHC is another type of cannabinoid that can give a similar experience to Delta 8 and Delta 9 THC. Both cannabinoids tend to be relaxing, though Delta 8 is a little more sedate and HHC is slightly more energizing. 
              </p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">How should Delta 8 Gummies be stored? </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  Summit THC’s Delta 8 Gummies should be stored in a cool, dry place, away from direct sunlight and heat sources. This helps to preserve the potency and freshness of the Gummies. It's also a good idea to keep the gummies in an airtight container to prevent exposure to moisture and humidity, which can cause the Gummies to deteriorate and lose their potency. To ensure maximum shelf life, it's recommended to store our Delta 8 Gummies in the refrigerator or a cool, dark cupboard.
              </p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">Where can I find Delta 8 near me? </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                  You can find Delta 8 near you by contacting our customer support team. We have a network of partner retail stores so we can see if some of our Summit Delta 8 Gummies are nearby!  Otherwise, we’re happy to support you online at summitTHC.com where we will ship them right to your doorstep or mailbox. <a class="link blue" href="https://summitthc.com/pages/where-we-ship">Check out our map to see if we can ship to you!</a> 
              </p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-faq">
          <div class="heading-wrapper-faq blue" data-ix="faq-expand">
            <h4 class="heading-faq">What’s the difference between Summit Delta 8 Gummies and R&R CBD Gummies? </h4>
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-plus.svg?v=1676409973"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq x"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/faq-D8-minus.svg?v=1676409972"
              loading="lazy"
              alt="Plus"
              class="heading-img-faq-min"
            >
          </div>
          <div class="expand-wrapper-faq">
            <div class="expand-inner-faq">
              <div class="expand-rte-faq w-richtext">
                <p>
                   Summit Delta-8 Gummies are used for things like mood support, help with sleeping, and recreational fun, while R&R CBD Gummies are used to target things like pain, sleep, and stress.
              </p>
                
              </div>
            </div>
          </div>
        </div>







      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.heading-wrapper-faq blue').click(function () {
      var minImg = $(this).children('.heading-img-faq-min');
      var xImg = $(this).children('.heading-img-faq.x');

      if (minImg.is(':visible')) {
        minImg.fadeOut();
        xImg.fadeIn();
      } else {
        minImg.fadeIn();
        xImg.fadeOut();
      }
    });

    $('.heading-img-faq-min').hide();
  });
</script>

{% schema %}
{
  "name": "Delta-8 FAQs"
}
{% endschema %}
