

<div class="hero-wrapper-reviews">
  <div class="hero-content-wrapper-internal">
    <div class="hero-content-inner-reviews" data-ix="fadeinright">
      <h1 class="hero-top-heading hero-top-heading-reviews">Reviews</h1>
      <h2 class="hero-main-heading">&quot;It makes me sleep better, and now I feel calmer.&quot;</h2>
      <div class="hero-bottom-wrapper-reviews">
        <div class="hero-name-reviews">Hank Pimm</div>
        <div class="hero-location-reviews">Denver, CO</div>
      </div>
    </div>
  </div><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/reviews-hero-MOD-2.png" loading="eager" sizes="(max-width: 767px) 100vw, (max-width: 991px) 695.3125px, 824.1875px" srcset="//cdn.shopify.com/s/files/1/0636/9355/3922/files/reviews-hero-MOD-2-p-500.png 500w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/reviews-hero-MOD-2-p-800.png 800w, //cdn.shopify.com/s/files/1/0636/9355/3922/files/reviews-hero-MOD-2.png 971w" alt="" class="hero-design-img-reviews">
</div>



{% schema %}
{
  "name": "Hero Section"
}
{% endschema %}

