

<div class="mid-wrapper-reviews">
    <div class="mid-container-reviews">
      <div class="heading-flex-row-reviews" data-ix="fadeindown">
        <div class="heading-flex-text-reviews">4.5</div>
        <div class="heading-img-wrapper-reviews"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="heading-img-reviews"></div>
        <div class="heading-flex-text-reviews-alt">103 Reviews</div>
      </div>
      <div class="reviews-placeholder">
        <div>Reviews App Placeholder</div>
      </div>
    </div>
  </div>


  {% schema %}
  {
    "name": "Reviews"
  }
  {% endschema %}

