
<div class="content-section-ship">
  <div class="content-block-ship">
    <div class="content-flex-row-ship">
      <div class="content-flex-col-ship">
        <div class="content-flex-col-inner-ship">
          <div class="content-heading-wrapper-ship">
            <h2 class="content-heading-ship">Delta 8 THC Florida? Delta 8 Texas?</h2>
          </div>
          <div class="content-rte-wrapper-ship">
            <div class="content-rte-ship w-richtext">
              <p>Different states have different regulations regarding our products. Buying Delta 8 online can seem tricky, but our map makes it simple to understand which product is right for you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-flex-col-img-ship">
        <div class="content-img-block-ship"></div>
      </div>
    </div>
  </div>
  <div class="content-block-ship">
    <div class="content-flex-row-ship">
      <div class="content-flex-col-img-ship">
        <div class="content-img-block-ship content-img-block-ship-2"></div>
      </div>
      <div class="content-flex-col-ship">
        <div class="content-flex-col-inner-ship">
          <div class="content-heading-wrapper-ship content-heading-wrapper-ship-alt">
            <h2 class="content-heading-ship">Is Delta 8 safe to ship? What about Delta 9?</h2>
          </div>
          <div class="content-rte-wrapper-ship">
            <div class="content-rte-ship w-richtext">
              <p>Summit Delta 8 Gummies and Delta 9 Gummies ship safely and are well packaged. All orders ship free!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Content Blocks"
}
{% endschema %}

