

<div class="flex-row-outer-ship">
  
  <div class="flex-col-outer-ship-1" data-ix="fadeinright">
    <div class="flex-col-inner-ship-page">
      <div class="flex-col-content-wrapper-ship">
        <div class="mid-heading-section-ship">
          <div class="mid-sub-heading-wrapper-ship">
            <h4 class="section-heading-sm">HHC VS DELTA 8 VS DELTA 9 AVAILABILITY</h4>
          </div>
          <div class="mid-heading-wrapper-ship">
            <h3 class="section-heading">Check if we ship to you</h3>
          </div>
        </div>
        <p class="mid-text-ship-page-lg">Delta 8 gummies might be available in your state, but if it’s not, our Delta 9 gummies are your answer. Click our Delta 8 THC and Delta 9 THC options on our map to see where we ship.</p>
        <div class="mid-rte-wrapper-ship">
          <div class="mid-rte-ship-page w-richtext">
            <p><em>All Summit products contain a concentration equal to or less than 0.3% Delta 9 THC on a dry weight basis. Products containing hemp-derived THC at this concentration are federally legal under the 2018 Farm Bill. Check with your local laws before purchasing. You should not use this product if you have concerns regarding passing a drug test. By purchasing any Summit product, you assume full responsibility for all terms, conditions, and laws pertaining to your purchase.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex-col-outer-ship-2" data-ix="fadeinleft">
    <div class="tabs-wrapper-ship">
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs-ship w-tabs">
        <div class="tabs-menu-ship-page w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-menu-link-ship w-inline-block w-tab-link w--current">
            <div class="{% if template == 'product' %}tab-menu-img-wrapper-ship-white{% else %}tab-menu-img-wrapper-ship-grey{% endif %}"><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-purple_1arrow-purple.png" alt="Arrow Up" class="tab-menu-arrow-img-ship"></div>
            <div class="tab-menu-text-ship-page">Delta 8</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-menu-link-ship w-inline-block w-tab-link">
            <div class="{% if template == 'product' %}tab-menu-img-wrapper-ship-white{% else %}tab-menu-img-wrapper-ship-grey{% endif %}"><img loading="lazy" src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/arrow-purple_1arrow-purple.png" alt="Arrow Up" class="tab-menu-arrow-img-ship"></div>
            <div class="tab-menu-text-ship-page">Delta 9</div>
          </a>
        </div>
        <div class="tabs-content-ship w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="tab-inner-ship-page">
              <div class="tab-img-wrapper-ship"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/summit-D8_map-v5.png?v=1661789209" loading="eager" alt="US Map" class="tab-img-ship" data-ix="map-tab">
                {%comment%}
                <div class="tab-key-flex-row-ship-page">
                  <div class="tab-key-icon-ship"></div>
                  <div class="tab-key-text-ship-page">Shipping Available</div>
                </div>
                {%endcomment%}
              </div>
              <div class="tab-key-wrapper-ship">
                <div class="tab-key-inner-ship">
                  <div class="tab-key-col-ship-page">
                    <div class="tab-flex-row-heading-ship">States where shipping is available</div>
                    <div class="location-flex-row">
                      <div class="location-flex-col">
                        <div class="location-flex-text">Alabama</div>
                        <div class="location-flex-text">Florida</div>
                        <div class="location-flex-text">Georgia</div>
                        <div class="location-flex-text">Hawaii</div>
                        <div class="location-flex-text">Illinois</div>
                        <div class="location-flex-text">Indiana</div>
                        <div class="location-flex-text">Kansas</div>
                        <div class="location-flex-text">Kentucky</div>
                        <div class="location-flex-text">Louisiana</div>
                        <div class="location-flex-text">Maine</div>
                        <div class="location-flex-text">Maryland</div>
                        
                      </div>
                      <div class="location-flex-col">
                        <div class="location-flex-text">Massachusetts</div>
                        <div class="location-flex-text">Minnesota</div>
                        <div class="location-flex-text">Missouri</div>
                        <div class="location-flex-text">Nebraska</div>
                        <div class="location-flex-text">New Hampshire</div>
                        <div class="location-flex-text">New Jersey</div>
                        <div class="location-flex-text">New Mexico</div>
                        <div class="location-flex-text">North Carolina</div>
                        <div class="location-flex-text">Ohio</div>
                        <div class="location-flex-text">Oklahoma</div>
                        <div class="location-flex-text">Oregon</div>
                      </div>
                      <div class="location-flex-col">
                        
                        <div class="location-flex-text">Pennsylvania</div>
                        <div class="location-flex-text">South Carolina</div>
                        <div class="location-flex-text">South Dakota</div>
                        <div class="location-flex-text">Tennessee</div>
                        <div class="location-flex-text">Texas</div>
                        <div class="location-flex-text">Virginia</div>
                        <div class="location-flex-text">Washington DC</div>
                        <div class="location-flex-text">West Virginia</div>
                        <div class="location-flex-text">Wisconsin</div>
                        <div class="location-flex-text">Wyoming</div>
                       
                        
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="tab-inner-ship-page">
              <div class="tab-img-wrapper-ship"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/D9-Map.png" loading="eager" alt="US Map" class="tab-img-ship" data-ix="map-tab">
                <div class="tab-key-flex-row-ship-page">
                  <div class="tab-key-icon-ship"></div>
                  <div class="tab-key-text-ship-page">Shipping Available</div>
                </div>
              </div>
              <div class="tab-key-wrapper-ship">
                <div class="tab-key-inner-ship">
                  <div class="tab-key-col-ship-page">
                    <div class="tab-flex-row-heading-ship">States where shipping is available</div>
                    <div class="location-flex-text-full">Shipping for Delta 9 products is currently available in all 50 states!</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mid-rte-wrapper-ship-mobile">
      <div class="mid-rte-ship-page w-richtext">
        <p><em>All Summit products contain a concentration equal to or less than 0.3% Delta 9 THC on a dry weight basis. Products containing hemp-derived THC at this concentration are federally legal under the 2018 Farm Bill. Check with your local laws before purchasing. You should not use this product if you have concerns regarding passing a drug test. By purchasing any Summit product, you assume full responsibility for all terms, conditions, and laws pertaining to your purchase.</em></p>
      </div>
    </div>
  </div>

</div>


<script>
$(document).ready(function() { 

  $('.tabs-menu-ship-page').append(
  '<div class="tabs-bottom-text-ship">Pick your product</div>');

 });
</script>


{% schema %}
{
  "name": "Map Section"
}
{% endschema %}

