

<div class="banner-section-wholesale">
  <div class="banner-img-block-wholesale"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/image-mobile_1.jpg?v=1679955632" loading="eager" alt="" class="banner-img-wholesale-mobile"></div>
</div>


{% schema %}
{
  "name": "Image Banner"
}
{% endschema %}

