<div class="hero-wrapper-wholesale">
  <div class="hero-heading-wrapper-wholesale">
    <div class="hero-sub-heading-wrapper-wholesale">
      <h4 class="section-heading-sm" data-ix="fadeindown">SUMMIT WHOLESALE</h4>
    </div>
    <h1 class="hero-main-heading-internal-wholesale" data-ix="fadeinup">Join our group of national vendors!</h1>
  </div>
  <div class="hero-box-wholesale">
    <div class="hero-box-inner-wholesale">
      <div class="box-flex-row-wholesale">
        <div class="box-flex-col-wholesale" data-ix="fadeinright">
          <div class="box-flex-col-inner-wholesale">
            <div class="box-img-wrapper-wholesale"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-arrow.svg?v=1676069249" loading="lazy" alt="" class="box-img-wholesale"></div>
            <h4 class="box-flex-col-heading-wholesale">Over 100% Markup on All Products</h4>
          </div>
        </div>
        <div class="box-flex-col-wholesale" data-ix="fadeinup">
          <div class="box-flex-col-inner-wholesale">
            <div class="box-img-wrapper-wholesale"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-cart.svg?v=1676069249" loading="lazy" alt="" class="box-img-wholesale"></div>
            <h4 class="box-flex-col-heading-wholesale">Minimum Order Amount of $250</h4>
          </div>
        </div>
        <div class="box-flex-col-wholesale" data-ix="fadeinleft">
          <div class="box-flex-col-inner-wholesale">
            <div class="box-img-wrapper-wholesale"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-online.svg?v=1676069249" loading="lazy" alt="" class="box-img-wholesale"></div>
            <h4 class="box-flex-col-heading-wholesale">Order Anytime With Our Online Portal</h4>
          </div>
        </div>
      </div>
      <div class="box-rte-wrapper-wholesale" data-ix="fadeinright">
        <div class="box-rte-wholesale w-richtext">
          <p>If you&#x27;re interested in carrying Summit products in your store, please fill out the application below. Contact us at <a href="mailto:contact@summitthc.com">contact@summitTHC.com</a>, or call/text us at <a href="tel:+13035361792">(303) 536-1792</a> with any questions.</p>
        </div>
      </div>
    </div>
    <div class="hero-btn-wrapper-wholesale" data-ix="fadeinleft">
      <a href="#form" class="hero-btn-link-wholesale w-inline-block">
        
        <div class="hero-btn-text-wholesale">Wholesale Registration Form</div>
      </a>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Top Content"
}
{% endschema %}

