
<div id="form" class="bottom-section-wholesale">
  <div class="bottom-container-wholesale">
    <div class="bottom-heading-section-wholesale">
      <div class="bottom-sub-heading-wrapper-wholesale">
        <h4 class="section-heading-sm no-margin-b" data-ix="fadeindown">START YOUR SUCCESS STORY NOW</h4>
      </div>
      <h1 class="hero-main-heading-internal-wholesale margin-t-15" data-ix="fadeinup">Wholesale Registration Form</h1>
      <div class="box-rte-wrapper-wholesale" data-ix="fadeinright">
        <div class="box-rte-wholesale w-richtext">
          <p>If you&#x27;re interested in carrying Summit products in your store, please fill out the application below. Contact us at <a href="mailto:contact@summitthc.com">contact@summitTHC.com</a>, or call/text us at <a href="tel:+13035361792">(303) 536-1792</a> with any questions.</p>
        </div>
      </div>
    </div>
    <div class="form-wrapper-wholesale">
      <div class="w-embed w-script">


        
        <script type="text/javascript" src="https://form.jotform.com/jsform/220954442530148"></script>
        {%- comment -%}
          <script type="text/javascript" src="https://form.jotform.com/jsform/202944625108050"></script>
        {%- endcomment -%}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Form Section"
}
{% endschema %}

