<div class="hero-wrapper-contact">
  <div class="banner-container-faq">
    <!--<div class="banner-heading-section-faq">
      <div class="banner-sub-heading-wrapper-contact">
        <h1 class="section-heading-sm section-heading-sm-contact" data-ix="fadeindown">Become an SMS VIP</h1>
      </div>
      <div class="banner-heading-wrapper-faq">
        <h2 class="section-heading-alt" data-ix="fadeinright">Get Early Access</h2>
      </div>
    </div>-->
    <div class="banner-text-wrapper-faq" data-ix="fadeinup">
      <!--<div class="hero-rte-contact w-richtext">
        <p>Be the first to know about product launches, promotions, and more when you sign up for texts.</p>
      </div>-->
      <div class="klaviyo-form-UN2yhg"></div>
    </div>
  </div>
</div>

<style>
  #fixed-nav {
    background-color: #0b022b !important;
    box-shadow: 1px 1px 6px 0 #000 !important;
  }
  @media screen and (max-width: 767px) {
    .hero-wrapper-contact {
      padding: 150px 10px 100px;
    }
  }
</style>

{% schema %}
  {
    "name": "Hero Section"
  }
{% endschema %}
