
<div class="where-we-ship-section product">
  <div class="flex-row-outer-wws">
    <div class="flex-col-outer-wws-1" data-ix="fadeinright">
      <div class="flex-col-inner-wws-page">
        <div class="flex-col-content-wrapper-wws">
          <div class="mid-heading-section-wws">
            <div class="mid-sub-heading-wrapper-ship">
              <p class="subheader">HHC VS DELTA 8 VS DELTA 9 AVAILABILITY</p>
            </div>
            <div class="mid-heading-wrapper-ship">
              <h1>Check if we ship to you.</h1>
            </div>
          </div>
          <p class="general-p">
            Delta 8 Gummies might be available in your state, but if they’re not, our Delta 9 Gummies and our HHC Gummies are your answer. Click the Delta 8 THC, Delta 9 THC, and HHC options on our map to see where we ship.
          </p>
          <div class="disclaimer-wrapper-wws">
            <div class="general-p smaller black-text test-disclaimer w-richtext">
              <p>
              All Summit products contain a concentration equal to or less than 0.3% Delta 9 THC on a dry weight basis. Products containing hemp-derived THC at this concentration are federally legal under the 2018 Farm Bill. Check with your local laws before purchasing. You should not use this product if you have concerns regarding passing a drug test. By purchasing any Summit product, you assume full responsibility for all terms, conditions, and laws pertaining to your purchase.
                days.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col-outer-wws-2" data-ix="fadeinleft">
      <div class="tabs-wrapper-wws">
        <div
          data-current="          
          {% if product.id == 7650180661506%}Tab 1{%endif%}
          {% if product.id == 7934597071106%}Tab 2{%endif%}
          {% if product.id == 7650180137218%}Tab 3{%endif%}"
          data-easing="ease"
          data-duration-in="300"
          data-duration-out="100"
          class="tabs-wws w-tabs"
        >
          <div class="tabs-menu-wws w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-menu-link-wws w-inline-block w-tab-link {%if product.id == 7650180661506%}w--current{%endif%}">
              <div>Delta-9</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-menu-link-wws w-inline-block w-tab-link {%if product.id ==7934597071106 %}w--current{%endif%}">
              <div>HHC</div>
            </a>
            <a data-w-tab="Tab 3" class="tab-menu-link-wws w-inline-block w-tab-link {%if product.id == 7650180137218%}w--current{%endif%}">
              <div>Delta-8</div>
            </a>
          </div>
          <div class="tabs-content-wws w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane {%if product.id == 7650180661506%}w--tab-active{%endif%}">
              <div class="tab-inner-wws-page">
                <div class="tab-main-img-wrapper-wws">
                  <img
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-D9.svg"
                    alt="Map of the United States with all states shown in pink"
                    class="tab-img-wws"
                    data-ix="map-tab"
                  >
                </div>
                <div class="tab-key-wrapper-wws">
                  <div class="tab-img-wrapper-wws">
                    <img
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D9-desktop.svg"
                      alt=""
                      class="tab-img-background-desktop"

                    ><img
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D9-mobile.svg"
                      alt="Select options with Delta-9 selected, and other options of HHC in the middle and Delta-8 on the right side."
                      class="tab-img-background-mobile"
                    >
                  </div>
                  <div class="tab-key-inner-wws">
                    <div class="tab-key-col-wws">
                      <div class="pick-product-text-wrapper">
                        <p class="subheader">PICK YOUR PRODUCT</p>
                      </div>
                      <div class="general-p center-align-mobile">
                        Shipping for Delta 9 products is currently available in all 50 states!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane {%if product.id == 7934597071106%}w--tab-active{%endif%}">
              <div class="tab-inner-wws-page">
                <div class="tab-main-img-wrapper-wws">
                  <img
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-HHC.svg"
                    alt="Map of the United States with all states colored yellow"
                    class="tab-img-wws"
                    data-ix="map-tab"
                  >
                </div>
                <div class="tab-key-wrapper-wws">
                  <div class="tab-img-wrapper-wws">
                    <img
                      loading="eager"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-HHC-desktop.svg"
                      alt=""
                      class="tab-img-background-desktop"

                    ><img
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-HHC-mobile.svg"
                      alt="Select options with HHC selected, and other options of Delta-9 on the left side and Delta-8 on the right side."
                      class="tab-img-background-mobile"
                    >
                  </div>
                  <div class="tab-key-inner-wws">
                    <div class="tab-key-col-wws">
                      <div class="pick-product-text-wrapper">
                        <p class="subheader">PICK YOUR PRODUCT</p>
                      </div>
                      <div class="general-p center-align-mobile">
                        Shipping for HHC products is currently available in all 50 states!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 3" class="w-tab-pane {%if product.id ==7650180137218%}w--tab-active{%endif%}">
              <div class="tab-inner-wws-page">
                <div class="tab-main-img-wrapper-wws">
                  <img
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-D8_1.svg?v=1678494376"
                    alt="Map of the United States with some states dark teal and some light teal. For information on which states we ship to please refer to the text below this image."
                    class="tab-img-wws"
                    data-ix="map-tab"
                  >
                </div>
                <div class="tab-key-wrapper-wws">
                  <div class="tab-img-wrapper-wws">
                    <img
                      loading="eager"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D8-desktop.svg"
                      alt=""
                      class="tab-img-background-desktop"

                    ><img
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D8-mobile.svg"
                      alt="Select options with Delta-8 selected, and other options of Delta-9 on the left side and HHC in the middle."
                      class="tab-img-background-mobile"
                    >
                  </div>
                  <div class="tab-key-inner-wws">
                    <div class="tab-key-col-wws">
                      <div class="pick-product-text-wrapper">
                        <p class="subheader">PICK YOUR PRODUCT</p>
                      </div>
                      <div class="general-p center-align-mobile">States where Delta-8 shipping is available:</div>
                      <div class="location-flex-row-2">
                        <div class="location-flex-col">
                          <div class="wws-flex-text">Alabama</div>
                          
                          <div class="wws-flex-text">Florida</div>
                          <div class="wws-flex-text">Georgia</div>
                          <div class="wws-flex-text">Hawaii</div>
                          <div class="wws-flex-text">Indiana</div>
                          <div class="wws-flex-text">Illinois</div>
                          <div class="wws-flex-text">Kentucky</div>
                          <div class="wws-flex-text">Louisiana</div>
                          <div class="wws-flex-text">Maine</div>
                          <div class="wws-flex-text">Maryland</div>
                        </div>
                        <div class="location-flex-col">
                          <div class="wws-flex-text">Massachusetts</div>
                          <div class="wws-flex-text">Minnesota</div>
                          <div class="wws-flex-text">Missouri</div>
                          <div class="wws-flex-text">Nebraska</div>
                          <div class="wws-flex-text">New Mexico</div>
                          <div class="wws-flex-text">New Hampshire</div>
                          <div class="wws-flex-text">New Jersey</div>
                          <div class="wws-flex-text">North Carolina</div>
                          <div class="wws-flex-text">Ohio</div>
                          <div class="wws-flex-text">Oklahoma</div>
                          <div class="wws-flex-text">Oregon</div>
                        </div>
                        <div class="location-flex-col">
                          <div class="wws-flex-text">Pennsylvania</div>
                          <div class="wws-flex-text">Puerto Rico</div>
                          <div class="wws-flex-text">South Dakota</div>
                          <div class="wws-flex-text">Tennessee</div>
                          <div class="wws-flex-text">Texas</div>
                          <div class="wws-flex-text">Washington DC</div>
                          <div class="wws-flex-text">West Virginia</div>
                          <div class="wws-flex-text">Wisconsin</div>
                          <div class="wws-flex-text">Wyoming</div>
                          <div class="wws-flex-text">Virginia</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mid-rte-wrapper-ship-mobile">
        <div class="general-p smaller black-text test-disclaimer w-richtext">
          <p>
            Summit utilizes USPS, FedEx, and other reputable courier services to ship products ordered from
            www.summitdelta8.com. We offer free shipping on all domestic orders. Packages ordered with standard shipping
            or free shipping may take up to seven days to arrive, though they usually arrive in up to five days.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
