<div class="product-guide-hero">
    <div class="where-we-ship-hero-content" data-ix="fadeinright">
      <div class="wws-hero-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-air-balloon.svg" loading="lazy" alt="Hot air balloon icon" class="wws-icon"></div>
      <div class="where-does-summit-ship-wrapper">
        <h1 class="white-text">Where does Summit THC Ship?</h1>
      </div>
      <p class="wws-hero-heading-text">Our Summit Delta 9 Gummies and our HHC Gummies ship to all 50 states, while our Delta 8 Gummies ship to select states. Check out the map below to see if you should choose Delta 8, Delta 9, or HHC Gummies.</p>
    </div>
  </div>
  <div class="where-we-ship-section">
    <div class="flex-row-outer-wws">
      <div class="flex-col-outer-wws-1" data-ix="fadeinright">
        <div class="flex-col-inner-wws-page">
          <div class="flex-col-content-wrapper-wws">
            <div class="mid-heading-section-wws">
              <div class="mid-sub-heading-wrapper-ship">
                <p class="subheader">DELTA 9 VS HHC VS DELTA 8 AVAILABILITY</p>
              </div>
              <div class="mid-heading-wrapper-ship">
                <h1>Check if we ship to you.</h1>
              </div>
            </div>
            <p class="general-p">Delta 8 Gummies might be available in your state, but if they’re not, our Delta 9 Gummies and our HHC Gummies are your answer. Click the Delta 9, HHC, or Delta 8 options on our map to see where we ship.</p>
            <div class="disclaimer-wrapper-wws">
              <div class="general-p smaller black-text test-disclaimer w-richtext">
                <p>All Summit products contain a concentration equal to or less than 0.3% Delta 9 THC on a dry weight basis. Products containing hemp-derived THC at this concentration are federally legal under the 2018 Farm Bill. Check with your local laws before purchasing. You should not use this product if you have concerns regarding passing a drug test. By purchasing any Summit product, you assume full responsibility for all terms, conditions, and laws pertaining to your purchase.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-col-outer-wws-2" data-ix="fadeinleft">
        <div class="tabs-wrapper-wws">
          <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs-wws w-tabs">
            <div class="tabs-menu-wws w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-menu-link-wws w-inline-block w-tab-link w--current">
                <div>Delta-9</div>
              </a>
              <a data-w-tab="Tab 2" class="tab-menu-link-wws w-inline-block w-tab-link">
                <div>HHC</div>
              </a>
              <a data-w-tab="Tab 3" class="tab-menu-link-wws w-inline-block w-tab-link">
                <div>Delta-8</div>
              </a>
            </div>
            <div class="tabs-content-wws w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                <div class="tab-inner-wws-page">
                  <div class="tab-main-img-wrapper-wws"><img loading="eager" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-D9.svg" alt="Map of the United States with all states shown in pink" class="tab-img-wws" data-ix="map-tab"></div>
                  <div class="tab-key-wrapper-wws">
                    <div class="tab-img-wrapper-wws"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D9-desktop.svg" alt="" class="tab-img-background-desktop"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D9-mobile.svg" alt="Select options with Delta-9 selected, and other options of HHC in the middle and Delta-8 on the right side." class="tab-img-background-mobile"></div>
                    <div class="tab-key-inner-wws">
                      <div class="tab-key-col-wws">
                        <div class="pick-product-text-wrapper">
                          <p class="subheader">PICK YOUR PRODUCT</p>
                        </div>
                        <div class="general-p center-align-mobile">Shipping for Delta 9 products is currently available in all 50 states!</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <div class="tab-inner-wws-page">
                  <div class="tab-main-img-wrapper-wws"><img loading="eager" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-HHC.svg" alt="Map of the United States with all states colored yellow" class="tab-img-wws" data-ix="map-tab"></div>
                  <div class="tab-key-wrapper-wws">
                    <div class="tab-img-wrapper-wws"><img loading="eager" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-HHC-desktop.svg" alt="" class="tab-img-background-desktop"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-HHC-mobile.svg" alt="Select options with HHC selected, and other options of Delta-9 on the left side and Delta-8 on the right side." class="tab-img-background-mobile"></div>
                    <div class="tab-key-inner-wws">
                      <div class="tab-key-col-wws">
                        <div class="pick-product-text-wrapper">
                          <p class="subheader">PICK YOUR PRODUCT</p>
                        </div>
                        <div class="general-p center-align-mobile">Shipping for HHC products is currently available in all 50 states!</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 3" class="w-tab-pane">
                <div class="tab-inner-wws-page">
                  <div class="tab-main-img-wrapper-wws"><img loading="eager" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-D8_1.svg?v=1678494376" alt="Map of the United States with some states dark teal and some light teal. For information on which states we ship to please refer to the text below this image." class="tab-img-wws" data-ix="map-tab"></div>
                  <div class="tab-key-wrapper-wws">
                    <div class="tab-img-wrapper-wws"><img loading="eager" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D8-desktop.svg" alt="" class="tab-img-background-desktop"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/map-select-D8-mobile.svg" alt="Select options with Delta-8 selected, and other options of Delta-9 on the left side and HHC in the middle." class="tab-img-background-mobile"></div>
                    <div class="tab-key-inner-wws">
                      <div class="tab-key-col-wws">
                        <div class="pick-product-text-wrapper">
                          <p class="subheader">PICK YOUR PRODUCT</p>
                        </div>
                        <div class="general-p center-align-mobile">States where Delta-8 shipping is available:</div>
                        <div class="location-flex-row-2">
                          <div class="location-flex-col">
                            <div class="wws-flex-text">Alabama</div>
                            
                            <div class="wws-flex-text">Florida</div>
                            <div class="wws-flex-text">Georgia</div>
                            <div class="wws-flex-text">Hawaii</div>
                            <div class="wws-flex-text">Indiana</div>
                            <div class="wws-flex-text">Illinois</div>
                            <div class="wws-flex-text">Kentucky</div>
                            <div class="wws-flex-text">Louisiana</div>
                            <div class="wws-flex-text">Maine</div>
                            <div class="wws-flex-text">Maryland</div>
                          </div>
                          <div class="location-flex-col">
                            <div class="wws-flex-text">Massachusetts</div>
                            <div class="wws-flex-text">Minnesota</div>
                            <div class="wws-flex-text">Missouri</div>
                            <div class="wws-flex-text">Nebraska</div>
                            <div class="wws-flex-text">New Mexico</div>
                            <div class="wws-flex-text">New Hampshire</div>
                            <div class="wws-flex-text">New Jersey</div>
                            <div class="wws-flex-text">North Carolina</div>
                            <div class="wws-flex-text">Ohio</div>
                            <div class="wws-flex-text">Oklahoma</div>
                            <div class="wws-flex-text">Oregon</div>
                          </div>
                          <div class="location-flex-col">
                            <div class="wws-flex-text">Pennsylvania</div>
                            <div class="wws-flex-text">Puerto Rico</div>
                            <div class="wws-flex-text">South Dakota</div>
                            <div class="wws-flex-text">Tennessee</div>
                            <div class="wws-flex-text">Texas</div>
                            <div class="wws-flex-text">Washington DC</div>
                            <div class="wws-flex-text">West Virginia</div>
                            <div class="wws-flex-text">Wisconsin</div>
                            <div class="wws-flex-text">Wyoming</div>
                            <div class="wws-flex-text">Virginia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mid-rte-wrapper-ship-mobile">
          <div class="general-p smaller black-text test-disclaimer w-richtext">
            <p>Summit utilizes USPS, FedEx, and other reputable courier services to ship products ordered from www.summitdelta8.com. We offer free shipping on all domestic orders. Packages ordered with standard shipping or free shipping may take up to seven days to arrive, though they usually arrive in up to five days.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question-section">
    <div class="w-layout-grid question-grid">
      <div id="w-node-_7b922c23-8b99-be6d-ac63-74b4f78b5ea6-ff2d384c" class="question-color-back">
        <div class="pink-question-content-wrapper">
          <div class="question-header-wrapper">
            <h2 class="white-text">Where do I find out about Delta 9, HHC, and Delta 8 shipping?</h2>
          </div>
          <p class="general-p white-text">Different states have different regulations regarding our products. If you’re wondering about Delta 9 THC, HHC, or Delta 8 THC shipping to your state, just use our map to see exactly where we ship, state by state.</p>
        </div>
      </div>
      <div id="w-node-dfb33dac-bcdd-7349-15a3-66a885fb5c0c-ff2d384c" class="question-img-wrapper-1"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/where_do_I_find.jpg?v=1679954914" loading="lazy" sizes="100vw"  alt="Summit Delta 8, Delta 9, and HHC gummy packages all laying down on a purple background" class="question-img"></div>
      <div id="w-node-b86eb458-d125-9d6c-bf49-438039f96fc8-ff2d384c" class="question-img-wrapper-1"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/safe-to-ship.jpg" loading="lazy" sizes="100vw"  alt="Side view of many gummies laid out on a light grey background. There is light coming from the right side so there are shadows to the left of each gummy" class="question-img"></div>
      <div id="w-node-dc21d11c-e81f-d54b-2e92-33afcde8b05c-ff2d384c" class="question-color-back yellow">
        <div class="pink-question-content-wrapper">
          <div class="question-header-wrapper">
            <h2 class="white-text"><span class="yellow-span">Is Delta 8 and Delta 9</span>safe to ship? What about HHC?</h2>
          </div>
          <p class="general-p white-text">Summit Delta 9, HHC, and Delta 8 Gummies ship safely and discreetly. Plus, all orders ship free!</p>
        </div>
      </div>
      <div id="w-node-_4b49321a-87fd-7d1a-a705-081c85f93f4c-ff2d384c" class="bottom-grid-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop.jpg" loading="lazy" sizes="100vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-1600.jpg 1600w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-2000.jpg 2000w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-2600.jpg 2600w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-desktop-p-3200.jpg 3200w" alt="Five people in a large kitchen all looking at the table, one person is holding raw spaghetti, many people are smiling and some have wine in their hand or next to them" class="peak-img-desktop"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-mobile.jpg" loading="lazy" sizes="(max-width: 479px) NaNvw, 100vw" srcset="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-mobile-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0636/9355/3922/files/BKG-free-shipping-mobile.jpg 751w" alt="Picture of two people in a kitchen, one is holding a bowl and one is holding raw spaghetti" class="peak-img-mobile">
        <div class="bottom-grid-content">
          <div class="subheader-wrapper-wws">
            <div class="subheader white-text">REACH YOUR PEAK</div>
          </div>
          <h2 class="white-text">Enjoy free shipping.</h2>
        </div>
      </div>
    </div>
  </div>