<div class="mid-wrapper-404">
	<div class="content-wrapper-404">
		<p class="text-404">It looks like the page you are looking for isn't available...</p>
		<div class="btn-wrapper-404">
			<a href="/" class="btn-main-404 w-button">Go Back to Home Page</a>
		</div>
	</div>
</div>

<style type="text/css">
	.mid-wrapper-404 {
	  padding-top: 315px;
	  padding-right: 10px;
	  padding-bottom: 200px;
	  padding-left: 10px;
	  background-color: #f6f2f1;
	}

	.content-wrapper-404 {
	  max-width: 940px;
	  margin-right: auto;
	  margin-left: auto;
	  text-align: center;
	}

	.text-404 {
	  max-width: 400px;
	  margin-right: auto;
	  margin-bottom: 20px;
	  margin-left: auto;
	  font-size: 22px;
	  line-height: 26px;
	  font-style: italic;
	  font-weight: 400;
	}


</style>