
<div class="hero-wrapper-privacy">
  <div class="hero-heading-wrapper-wholesale">
    <h1 class="hero-main-heading-internal-privacy" data-ix="fadeinup">{{page.title}}</h1>
  </div>
  <div class="content-container-meta">
    <div class="box-rte-privacy-policy w-richtext">
      {{page.content}}
    </div>
  </div>
</div>

