

<div class="product-guide-hero-1">
    <div class="product-guide-content-inner" data-ix="fadeinright">
      <div class="hero-subheader-wrapper">
        <p class="subheader purple-text">POWERFUL RELIEF TO SUIT YOUR NEEDS</p>
      </div>
      <h1 class="purple-text">Find Your Vibe</h1>
      <p class="product-hero-heading-text">Let us show you the path toward your ultimate healing adventure.</p>
    </div>
    <img class="pink-arrow" src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/hero-mobile-arrow_a7c1d225-6ef2-4a7a-9c3f-5f2b82681b09.png?v=1677622184" alt="">
  </div>



{% section 'sk-home-featured-products-hhc-product-guide' %}


<div class="product-guide-section">
    <div class="product-content-grid">
      <div id="w-node-_304a4492-cce1-f4f1-731b-bc1b2a889623-e3fac628" class="product-individual-wrapper">
        <a href="https://summitthc.com/products/15mg-20ct-delta-9-vegan-infused-gummies" class="product-individual-img-wrapper">
          
            <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/pg-D9_1.png?v=1680127464" loading="lazy"  alt="Summit Delta 9 Product picture" class="product-individual-img">
            <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D9.svg" loading="lazy" alt="Circular Delta 9 badge with a light pink background and an eye icon in the center" class="badge-over-product">
        </a>
          
        <div id="w-node-_19f487c7-c6e7-f340-f33f-b08551700320-e3fac628" class="product-div-block"></div>
        <div id="w-node-_3f5ce665-3acf-778f-6894-4cd557336ade-e3fac628" class="product-content-wrapper">
          <div class="product-guide-name-wrapper">
            <a href="https://summitthc.com/products/15mg-20ct-delta-9-vegan-infused-gummies" class="product-guide-name">Delta-9</a>
          </div>
          <div class="product-title-wrapper">
            <div class="product-title-text">ENERGIZING EUPHORIA</div>
          </div>
          <div class="product-description-wrapper">
            <p>Launch into orbit with our powerful Delta-9 Gummies that’ll elevate your mind and mood. Use this exquisite experience to fulfill your creative desires as you enter the realm of the sublime. Ideal for fun-loving and adventurous relief-seekers! Lucky for you, <a href="/pages/where-we-ship">we ship to all 50 states</a>.</p>
          </div>
          <div class="product-info-flex-row">
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-activation-time.svg" loading="lazy" alt="Rocketship going upward icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">ACTIVATION TIME</p>
                <p class="activation-time-text-2">20-45 mins</p>
              </div>
            </div>
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-duration.svg" loading="lazy" alt="Clock icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">DURATION</p>
                <p class="activation-time-text-2">4-6 hrs</p>
              </div>
            </div>
          </div>
          <div class="product-info-flex-row-2">
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-energy.svg" loading="lazy" alt="Icon of an eye on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">ENERGIZING*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D9-creativity.svg" loading="lazy" alt="Icon of a hot air balloon on a purple badge" class="product-info-icon-img">
              <p class="activation-time-text">CREATIVE*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-euphoric.svg" loading="lazy" alt="Icon of a brain on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">EUPHORIC*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-good-vibes.svg" loading="lazy" alt="Icon of a peace sign on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">GOOD VIBES*</p>
            </div>
          </div>
          <div class="product-btn-wrapper">
            <a href="https://summitthc.com/products/15mg-20ct-delta-9-vegan-infused-gummies" class="btn-main-pink w-button">SHOP DELTA-9</a>
          </div>
          <div class="effects-wrapper">
            <p class="general-p smaller">*The effects of cannabinoids will vary from person to person</p>
          </div>
        </div>
      </div>
      <div id="w-node-ecf52409-4bcf-4be3-db7b-97001b825c6c-e3fac628" class="product-individual-wrapper yellow">
        <a href="/products/25mg-20ct-hhc-vegan-infused-gummies" class="product-individual-img-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/pg-HHC_1.png?v=1680127465" loading="lazy" alt="HHC Gummies Product Image" class="product-individual-img"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-HHC.svg" loading="lazy" alt="HHC badge with a bright yellow background and balanced scales icon in the middle" class="badge-over-product">
        </a>
        <div id="w-node-ecf52409-4bcf-4be3-db7b-97001b825c70-e3fac628" class="product-div-block"></div>
        <div id="w-node-ecf52409-4bcf-4be3-db7b-97001b825c71-e3fac628" class="product-content-wrapper">
          <div class="product-guide-name-wrapper">
            <a href="https://summitthc.com/products/25mg-20ct-hhc-vegan-infused-gummies" class="product-guide-name yellow">HHC</a>
          </div>
          <div class="product-title-wrapper">
            <div class="product-title-text">BLISSFULLY BALANCED</div>
          </div>
          <div class="product-description-wrapper">
            <p>The perfect middle ground between Delta-8 and -9, these Gummies offer a luxuriously cerebral experience to help you relax while you channel all that artistic energy. <a href="/pages/where-we-ship">We ship these goodies to all 50 states</a>.</p>
          </div>
          <div class="product-info-flex-row">
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-activation-time.svg" loading="lazy" alt="Rocketship going upward icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">ACTIVATION TIME</p>
                <p class="activation-time-text-2">20-45 mins</p>
              </div>
            </div>
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-duration.svg" loading="lazy" alt="Clock icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">DURATION</p>
                <p class="activation-time-text-2">4-6 hrs</p>
              </div>
            </div>
          </div>
          <div class="product-info-flex-row-2">
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-mellow.svg" loading="lazy" alt="Icon of balanced scales on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">MELLOW*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-focus.svg" loading="lazy" alt="Icon of three gears working together on a purple badge" class="product-info-icon-img">
              <p class="activation-time-text">FOCUSED*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-euphoric.svg" loading="lazy" alt="Icon of a brain on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">EUPHORIC*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-good-vibes.svg" loading="lazy" alt="Icon of a peace sign on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">GOOD VIBES*</p>
            </div>
          </div>
          <div class="product-btn-wrapper">
            <a href="/products/25mg-20ct-hhc-vegan-infused-gummies" class="btn-main-yellow w-button">SHOP HHC</a>
          </div>
          <div class="effects-wrapper">
            <p class="general-p smaller">*The effects of cannabinoids will vary from person to person</p>
          </div>
        </div>
      </div>
      <div id="w-node-_1d476160-a42f-c78b-f516-c56fbac16aa9-e3fac628" class="product-individual-wrapper blue">
        <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="product-individual-img-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/pg-D8_2.png?v=1680127464" loading="lazy" alt="Summit Delta 8 Gummy Product Image" class="product-individual-img"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/badge-pro-D8.svg" loading="lazy" alt="Circular Delta 8 Badge with a light teal background and three stones stacked on top of each other in the center." class="badge-over-product">
        </a>
        <div id="w-node-_1d476160-a42f-c78b-f516-c56fbac16aad-e3fac628" class="product-div-block"></div>
        <div id="w-node-_1d476160-a42f-c78b-f516-c56fbac16aae-e3fac628" class="product-content-wrapper">
          <div class="product-guide-name-wrapper">
            <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="product-guide-name blue">Delta-8</a>
          </div>
          <div class="product-title-wrapper">
            <div class="product-title-text">DEEP CHILL ZONE</div>
          </div>
          <div class="product-description-wrapper">
            <p>Like sinking into the comfiest of couches, our Delta 8-Gummies will lull your body into a supreme state of relaxation while taking a load off your mind. Sadly we can’t ship to every state – <a href="/pages/where-we-ship">see where we can</a>.</p>
          </div>
          <div class="product-info-flex-row">
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-activation-time.svg" loading="lazy" alt="Rocketship going upward icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">ACTIVATION TIME</p>
                <p class="activation-time-text-2">20-45 mins</p>
              </div>
            </div>
            <div class="product-info-flex-col"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-info-duration.svg" loading="lazy" alt="Clock icon" class="product-info-img">
              <div class="product-info-text-wrapper">
                <p class="activation-time-text">DURATION</p>
                <p class="activation-time-text-2">4-6 hrs</p>
              </div>
            </div>
          </div>
          <div class="product-info-flex-row-2 blue">
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-relaxation.svg" loading="lazy" alt="Icon of three stones on top of each other on a purple badge" class="product-info-icon-img">
              <p class="activation-time-text">RELAXING*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-D8-tranquility.svg" loading="lazy" alt="Icon of three lines moving smoothly in parallel to one another on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">TRANQUIL*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-euphoric.svg" loading="lazy" alt="Icon of a brain on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">EUPHORIC*</p>
            </div>
            <div class="product-info-flex-col-2"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/icon-HHC-good-vibes.svg" loading="lazy" alt="Icon of a peace sign on a dark purple badge" class="product-info-icon-img">
              <p class="activation-time-text">GOOD VIBES*</p>
            </div>
          </div>
          <div class="product-btn-wrapper">
            <a href="https://summitthc.com/products/25mg-30ct-delta-8-vegan-infused-gummies" class="btn-main-teal w-button">SHOP DELTA-8</a>
          </div>
          <div class="effects-wrapper">
            <p class="general-p smaller">*The effects of cannabinoids will vary from person to person</p>
          </div>
        </div>
      </div>
      <div id="w-node-_20cd1e33-a50d-8cb8-2f29-6f7bafb7f475-e3fac628" class="product-scale-wrapper"><img src="https://cdn.shopify.com/s/files/1/0636/9355/3922/files/effects-meter.svg" loading="lazy" alt="Vertical gradient with arrows. The top is pink and says energizing, the middle is yellow and says balanced, and the bottom is light teal and says relaxing" class="product-guide-scale-img"></div>
    </div>
  </div>